## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Read data

In [2]:
test = pd.read_csv('../data/test.csv', index_col='Id')
train = pd.read_csv('../data/train.csv', index_col='Id')

## EDA - test data

### Features with null values

In [3]:
test.shape

(879, 79)

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 879 entries, 2658 to 1939
Data columns (total 79 columns):
PID                879 non-null int64
MS SubClass        879 non-null int64
MS Zoning          879 non-null object
Lot Frontage       719 non-null float64
Lot Area           879 non-null int64
Street             879 non-null object
Alley              58 non-null object
Lot Shape          879 non-null object
Land Contour       879 non-null object
Utilities          879 non-null object
Lot Config         879 non-null object
Land Slope         879 non-null object
Neighborhood       879 non-null object
Condition 1        879 non-null object
Condition 2        879 non-null object
Bldg Type          879 non-null object
House Style        879 non-null object
Overall Qual       879 non-null int64
Overall Cond       879 non-null int64
Year Built         879 non-null int64
Year Remod/Add     879 non-null int64
Roof Style         879 non-null object
Roof Matl          879 non-null object
Exterior 1st       879 non-null object
Exterior 2nd       879 non-null object
Mas Vnr Type       878 non-null object
Mas Vnr Area       878 non-null float64
Exter Qual         879 non-null object
Exter Cond         879 non-null object
Foundation         879 non-null object
Bsmt Qual          854 non-null object
Bsmt Cond          854 non-null object
Bsmt Exposure      854 non-null object
BsmtFin Type 1     854 non-null object
BsmtFin SF 1       879 non-null int64
BsmtFin Type 2     854 non-null object
BsmtFin SF 2       879 non-null int64
Bsmt Unf SF        879 non-null int64
Total Bsmt SF      879 non-null int64
Heating            879 non-null object
Heating QC         879 non-null object
Central Air        879 non-null object
Electrical         878 non-null object
1st Flr SF         879 non-null int64
2nd Flr SF         879 non-null int64
Low Qual Fin SF    879 non-null int64
Gr Liv Area        879 non-null int64
Bsmt Full Bath     879 non-null int64
Bsmt Half Bath     879 non-null int64
Full Bath          879 non-null int64
Half Bath          879 non-null int64
Bedroom AbvGr      879 non-null int64
Kitchen AbvGr      879 non-null int64
Kitchen Qual       879 non-null object
TotRms AbvGrd      879 non-null int64
Functional         879 non-null object
Fireplaces         879 non-null int64
Fireplace Qu       457 non-null object
Garage Type        835 non-null object
Garage Yr Blt      834 non-null float64
Garage Finish      834 non-null object
Garage Cars        879 non-null int64
Garage Area        879 non-null int64
Garage Qual        834 non-null object
Garage Cond        834 non-null object
Paved Drive        879 non-null object
Wood Deck SF       879 non-null int64
Open Porch SF      879 non-null int64
Enclosed Porch     879 non-null int64
3Ssn Porch         879 non-null int64
Screen Porch       879 non-null int64
Pool Area          879 non-null int64
Pool QC            4 non-null object
Fence              172 non-null object
Misc Feature       41 non-null object
Misc Val           879 non-null int64
Mo Sold            879 non-null int64
Yr Sold            879 non-null int64
Sale Type          879 non-null object
dtypes: float64(3), int64(34), object(42)
memory usage: 549.4+ KB

In [5]:
test.isnull().sum()[test.isnull().sum() > 0]

Lot Frontage      160
Alley             821
Mas Vnr Type        1
Mas Vnr Area        1
Bsmt Qual          25
Bsmt Cond          25
Bsmt Exposure      25
BsmtFin Type 1     25
BsmtFin Type 2     25
Electrical          1
Fireplace Qu      422
Garage Type        44
Garage Yr Blt      45
Garage Finish      45
Garage Qual        45
Garage Cond        45
Pool QC           875
Fence             707
Misc Feature      838
dtype: int64

In [6]:
test.isnull().sum()[test.isnull().sum() > 0].index.tolist()

['Lot Frontage',
 'Alley',
 'Mas Vnr Type',
 'Mas Vnr Area',
 'Bsmt Qual',
 'Bsmt Cond',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'BsmtFin Type 2',
 'Electrical',
 'Fireplace Qu',
 'Garage Type',
 'Garage Yr Blt',
 'Garage Finish',
 'Garage Qual',
 'Garage Cond',
 'Pool QC',
 'Fence',
 'Misc Feature']

In [7]:
discrete_features = ['Year Built', 'Year Remod/Add', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath', 'Half Bath',
           'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 'Garage Yr Blt', 'Garage Cars',
            'Mo Sold', 'Yr Sold']

continuous_features = ['Lot Frontage', 'Lot Area', 'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2',
                       'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
                       'Gr Liv Area', 'Garage Area', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch',
                       '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val']

nominal_features = ['PID', 'MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Land Contour', 'Lot Config',
                    'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style',
                    'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Foundation', 'Heating',
                    'Central Air', 'Garage Type', 'Misc Feature', 'Sale Type']

ordinal_features = ['Lot Shape', 'Utilities', 'Land Slope', 'Overall Qual', 'Overall Cond', 'Exter Qual',
                    'Exter Cond', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2',
                    'Heating QC', 'Electrical', 'Kitchen Qual', 'Functional', 'Fireplace Qu', 'Garage Finish',
                    'Garage Qual', 'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence'
                   ]

len(discrete_features), len(continuous_features), len(nominal_features), len(ordinal_features)

(14, 19, 23, 23)

### Discrete Features

**Year Built**

In [8]:
test['Year Built'].dtype

dtype('int64')

In [9]:
sorted(test['Year Built'].value_counts().index.tolist())

[1880,
 1882,
 1885,
 1890,
 1892,
 1900,
 1902,
 1904,
 1905,
 1906,
 1907,
 1908,
 1910,
 1912,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1930,
 1931,
 1932,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010]

**Year Remod/Add**

In [10]:
test['Year Remod/Add'].dtype

dtype('int64')

In [11]:
# sorted(test['Year Remod/Add'].value_counts().index.tolist())

**Bsmt Full Bath**

In [12]:
test['Bsmt Full Bath'].dtype

dtype('int64')

In [13]:
test['Bsmt Full Bath'].value_counts(dropna=False)

0    507
1    357
2     15
Name: Bsmt Full Bath, dtype: int64

In [14]:
test['Bsmt Full Bath'] = test['Bsmt Full Bath'].astype('Int64')

In [15]:
test['Bsmt Full Bath'].value_counts(dropna=False).sort_index()

0      507
1      357
2       15
NaN      0
Name: Bsmt Full Bath, dtype: int64

**Bsmt Half Bath**

In [16]:
test['Bsmt Half Bath'].dtype

dtype('int64')

In [17]:
test['Bsmt Half Bath'].value_counts(dropna=False)

0    830
1     49
Name: Bsmt Half Bath, dtype: int64

In [18]:
test['Bsmt Half Bath'] = test['Bsmt Half Bath'].astype('Int64')

In [19]:
test['Bsmt Half Bath'].value_counts(dropna=False).sort_index()

0      830
1       49
NaN      0
Name: Bsmt Half Bath, dtype: int64

**Full Bath**

In [20]:
test['Full Bath'].dtype

dtype('int64')

In [21]:
test['Full Bath'].value_counts(dropna=False)

2    436
1    418
3     19
0      4
4      2
Name: Full Bath, dtype: int64

**Half Bath**

In [22]:
test['Half Bath'].dtype

dtype('int64')

In [23]:
test['Half Bath'].value_counts(dropna=False)

0    535
1    337
2      7
Name: Half Bath, dtype: int64

**Bedroom AbvGr**

In [24]:
test['Bedroom AbvGr'].dtype

dtype('int64')

In [25]:
test['Bedroom AbvGr'].value_counts(dropna=False).sort_index()

0      3
1     37
2    199
3    489
4    135
5      7
6      9
Name: Bedroom AbvGr, dtype: int64

**Kitchen AbvGr**

In [26]:
test['Kitchen AbvGr'].dtype

dtype('int64')

In [27]:
test['Kitchen AbvGr'].value_counts(dropna=False).sort_index()

0      1
1    836
2     41
3      1
Name: Kitchen AbvGr, dtype: int64

**TotRms AbvGrd**

In [28]:
test['TotRms AbvGrd'].dtype

dtype('int64')

In [29]:
test['TotRms AbvGrd'].value_counts(dropna=False).sort_index()

3      14
4      57
5     179
6     247
7     174
8     119
9      45
10     31
11     10
12      3
Name: TotRms AbvGrd, dtype: int64

**Fireplaces**

In [30]:
test['Fireplaces'].dtype

dtype('int64')

In [31]:
test['Fireplaces'].value_counts(dropna=False)

0    422
1    376
2     75
3      6
Name: Fireplaces, dtype: int64

**Garage Yr Blt**

In [32]:
test['Garage Yr Blt'].dtype

dtype('float64')

In [33]:
test['Garage Yr Blt'].value_counts(dropna=False).sort_index()

1900.0     3
1906.0     1
1908.0     1
1910.0     5
1915.0     3
          ..
2007.0    31
2008.0    17
2009.0    12
2010.0     3
NaN       45
Name: Garage Yr Blt, Length: 94, dtype: int64

In [34]:
test['Garage Yr Blt'] = test['Garage Yr Blt'].astype('Int64')

In [35]:
test['Garage Yr Blt'].value_counts(dropna=False).sort_index()

1900.0     3
1906.0     1
1908.0     1
1910.0     5
1915.0     3
          ..
2007.0    31
2008.0    17
2009.0    12
2010.0     3
NaN       45
Name: Garage Yr Blt, Length: 94, dtype: int64

In [36]:
garage_yr_blt_missing_idx = test.loc[test['Garage Yr Blt'].isnull()].index.tolist()

In [37]:
print(sorted(garage_yr_blt_missing_idx))

[126, 171, 212, 214, 217, 276, 291, 292, 331, 332, 541, 663, 704, 713, 721, 743, 758, 760, 979, 984, 1315, 1357, 1368, 1388, 1408, 1412, 1506, 1507, 1904, 1943, 1988, 2043, 2185, 2188, 2196, 2232, 2297, 2304, 2362, 2473, 2680, 2908, 2917, 2919, 2928]

**Garage Cars**

In [38]:
test['Garage Cars'].dtype

dtype('int64')

In [39]:
test['Garage Cars'].value_counts(dropna=False).sort_index()

0     44
1    254
2    467
3    111
4      3
Name: Garage Cars, dtype: int64

In [40]:
test['Garage Cars'] = test['Garage Cars'].astype('Int64')

In [41]:
test['Garage Cars'].value_counts(dropna=False).sort_index()

0       44
1      254
2      467
3      111
4        3
NaN      0
Name: Garage Cars, dtype: int64

**Mo Sold**

In [42]:
test['Mo Sold'].dtype

dtype('int64')

In [43]:
test['Mo Sold'].value_counts(dropna=False).sort_index()

1      44
2      29
3      64
4      71
5     138
6     153
7     146
8      66
9      52
10     50
11     40
12     26
Name: Mo Sold, dtype: int64

In [44]:
def get_nominal_value_str(value_int):
    value_str = str(value_int)
    if len(value_str) == 1:
        return "0" + value_str
    else:
        return value_str

test['Mo Sold'] = test['Mo Sold'].map(get_nominal_value_str)
test['Mo Sold'] = pd.Categorical(test['Mo Sold'])

In [45]:
test['Mo Sold'].map(get_nominal_value_str).value_counts(dropna=False).sort_index()

01     44
02     29
03     64
04     71
05    138
06    153
07    146
08     66
09     52
10     50
11     40
12     26
Name: Mo Sold, dtype: int64

**Yr Sold**

In [46]:
test['Yr Sold'].dtype

dtype('int64')

In [47]:
test['Yr Sold'].value_counts(dropna=False).sort_index()

2006    187
2007    196
2008    187
2009    202
2010    107
Name: Yr Sold, dtype: int64

In [48]:
test['Yr Sold'] = pd.Categorical(test['Yr Sold'])

### Continuous Features

In [49]:
continuous_features = ['Lot Frontage', 'Lot Area', 'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2',
                       'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
                       'Gr Liv Area', 'Garage Area', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch',
                       '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val']

**Lot Frontage**

In [50]:
test['Lot Frontage'].dtype

dtype('float64')

**Lot Area**

In [51]:
test['Lot Area'].dtype

dtype('int64')

In [52]:
test['Lot Area'] = test['Lot Area'].astype('float')

In [53]:
test['Lot Area'][test['Lot Area'].isnull()]

Series([], Name: Lot Area, dtype: float64)

**Mas Vnr Area**

In [54]:
test['Mas Vnr Area'].dtype

dtype('float64')

**BsmtFin SF 1**

In [55]:
test['BsmtFin SF 1'].dtype

dtype('int64')

In [56]:
test['BsmtFin SF 1'][test['BsmtFin SF 1'].isnull()]

Series([], Name: BsmtFin SF 1, dtype: int64)

**BsmtFin SF 2**

In [57]:
test['BsmtFin SF 2'].dtype

dtype('int64')

In [58]:
test['BsmtFin SF 2'][test['BsmtFin SF 2'].isnull()]

Series([], Name: BsmtFin SF 2, dtype: int64)

**Bsmt Unf SF**

In [59]:
test['Bsmt Unf SF'].dtype

dtype('int64')

In [60]:
test['Bsmt Unf SF'][test['Bsmt Unf SF'].isnull()]

Series([], Name: Bsmt Unf SF, dtype: int64)

**Total Bsmt SF**

In [61]:
test['Total Bsmt SF'].dtype

dtype('int64')

In [62]:
test['Total Bsmt SF'][test['Total Bsmt SF'].isnull()]

Series([], Name: Total Bsmt SF, dtype: int64)

**1st Flr SF**

In [63]:
test['1st Flr SF'] = test['1st Flr SF'].astype('float')

In [64]:
test['1st Flr SF'][test['1st Flr SF'].isnull()]

Series([], Name: 1st Flr SF, dtype: float64)

**2nd Flr SF**

In [65]:
test['2nd Flr SF'] = test['2nd Flr SF'].astype('float')

In [66]:
test['2nd Flr SF'][test['2nd Flr SF'].isnull()]

Series([], Name: 2nd Flr SF, dtype: float64)

**Low Qual Fin SF**

In [67]:
test['Low Qual Fin SF'] = test['Low Qual Fin SF'].astype('float')

In [68]:
test['Low Qual Fin SF'][test['Low Qual Fin SF'].isnull()]

Series([], Name: Low Qual Fin SF, dtype: float64)

**Gr Liv Area**

In [69]:
test['Gr Liv Area'] = test['Gr Liv Area'].astype('float')

In [70]:
test['Gr Liv Area'][test['Gr Liv Area'].isnull()]

Series([], Name: Gr Liv Area, dtype: float64)

**Garage Area**

In [71]:
test['Garage Area'].dtype

dtype('int64')

In [72]:
garage_area_missing_idx = test[test['Garage Area'].isnull()].index.tolist()

In [73]:
print(garage_area_missing_idx)

[]

**Wood Deck SF**

In [74]:
test['Wood Deck SF'].dtype

dtype('int64')

In [75]:
test['Wood Deck SF'] = test['Wood Deck SF'].astype('float')

In [76]:
test['Wood Deck SF'][test['Wood Deck SF'].isnull()]

Series([], Name: Wood Deck SF, dtype: float64)

**Open Porch SF**

In [77]:
test['Open Porch SF'].dtype

dtype('int64')

In [78]:
test['Open Porch SF'] = test['Open Porch SF'].astype('float')

In [79]:
test['Open Porch SF'][test['Open Porch SF'].isnull()]

Series([], Name: Open Porch SF, dtype: float64)

**Enclosed Porch**

In [80]:
test['Enclosed Porch'].dtype

dtype('int64')

In [81]:
test['Enclosed Porch'] = test['Enclosed Porch'].astype('float')

In [82]:
test['Enclosed Porch'][test['Enclosed Porch'].isnull()]

Series([], Name: Enclosed Porch, dtype: float64)

**3Ssn Porch**

In [83]:
test['3Ssn Porch'].dtype

dtype('int64')

In [84]:
test['3Ssn Porch'] = test['3Ssn Porch'].astype('float')

In [85]:
test['3Ssn Porch'][test['3Ssn Porch'].isnull()]

Series([], Name: 3Ssn Porch, dtype: float64)

**Screen Porch**

In [86]:
test['Screen Porch'].dtype

dtype('int64')

In [87]:
test['Screen Porch'] = test['Screen Porch'].astype('float')

In [88]:
test['Screen Porch'][test['Screen Porch'].isnull()]

Series([], Name: Screen Porch, dtype: float64)

**Pool Area**

In [89]:
test['Pool Area'].dtype

dtype('int64')

In [90]:
test['Pool Area'] = test['Screen Porch'].astype('float')

In [91]:
test['Pool Area'][test['Pool Area'].isnull()]

Series([], Name: Pool Area, dtype: float64)

**Misc Val**

In [92]:
test['Misc Val'].dtype

dtype('int64')

In [93]:
test['Misc Val'] = test['Misc Val'].astype('float')

In [94]:
test['Misc Val'][test['Misc Val'].isnull()]

Series([], Name: Misc Val, dtype: float64)

### Nominal Features

In [95]:
nominal_features = ['PID', 'MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Land Contour', 'Lot Config',
                    'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style',
                    'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Foundation', 'Heating',
                    'Central Air', 'Garage Type', 'Misc Feature', 'Sale Type']

**PID**

In [96]:
test['PID'].dtype

dtype('int64')

In [97]:
test['PID'][test['PID'].isnull()]

Series([], Name: PID, dtype: int64)

In [98]:
test['PID'] = pd.Categorical(test['PID'])

**MS SubClass**

In [99]:
test['MS SubClass'].value_counts(dropna=False).sort_index()

20     309
30      38
40       2
45       7
50      89
60     181
70      38
75       7
80      32
85      20
90      34
120     60
160     41
180      6
190     15
Name: MS SubClass, dtype: int64

In [100]:
test['MS SubClass'].dtype

dtype('int64')

In [101]:
def get_nominal_value_str(value_int):
    value_str = str(value_int)
    if len(value_str) == 2:
        return "0" + value_str
    elif len(value_str) == 3:
        return value_str
    
test['MS SubClass'] = test['MS SubClass'].map(get_nominal_value_str)
test['MS SubClass'] = pd.Categorical(test['MS SubClass'])

In [102]:
test['MS SubClass'].value_counts(dropna=False).sort_index()

020    309
030     38
040      2
045      7
050     89
060    181
070     38
075      7
080     32
085     20
090     34
120     60
160     41
180      6
190     15
Name: MS SubClass, dtype: int64

**MS Zoning**

In [103]:
test['MS Zoning'].value_counts(dropna=False).sort_index()

C (all)      6
FV          38
I (all)      1
RH          13
RL         675
RM         146
Name: MS Zoning, dtype: int64

In [104]:
test['MS Zoning'] = pd.Categorical(test['MS Zoning'])

In [105]:
test['MS Zoning'].dtype

CategoricalDtype(categories=['C (all)', 'FV', 'I (all)', 'RH', 'RL', 'RM'], ordered=False)

**Street**

In [106]:
test['Street'].dtype

dtype('O')

In [107]:
test['Street'].value_counts(dropna=False)

Pave    874
Grvl      5
Name: Street, dtype: int64

In [108]:
test['Street'] = pd.Categorical(test['Street'])

**Alley**

In [109]:
test['Alley'].dtype

dtype('O')

In [110]:
test['Alley'].value_counts(dropna=False)

NaN     821
Grvl     35
Pave     23
Name: Alley, dtype: int64

Handling missing data

In [111]:
test['Alley'] = test['Alley'].fillna('None')

In [112]:
test['Alley'] = pd.Categorical(test['Alley'])

**Land Contour**

In [113]:
test['Land Contour'].dtype

dtype('O')

In [114]:
test['Land Contour'].value_counts(dropna=False)

Lvl    790
Bnk     37
HLS     35
Low     17
Name: Land Contour, dtype: int64

In [115]:
test['Land Contour'] = pd.Categorical(test['Land Contour'])

**Lot Config**

In [116]:
test['Lot Config'].dtype

dtype('O')

In [117]:
test['Lot Config'].value_counts(dropna=False)

Inside     637
Corner     163
CulDSac     49
FR2         25
FR3          5
Name: Lot Config, dtype: int64

In [118]:
test['Lot Config'] = pd.Categorical(test['Lot Config'])

**Neighborhood**

In [119]:
test['Neighborhood'].dtype

dtype('O')

In [120]:
test['Neighborhood'].value_counts(dropna=False)

NAmes      133
CollgCr     87
OldTown     76
Somerst     52
Edwards     51
Gilbert     49
NridgHt     44
NWAmes      44
Sawyer      40
SawyerW     38
Mitchel     32
Crawfor     32
BrkSide     32
IDOTRR      24
Timber      24
NoRidge     23
ClearCr     17
SWISU       16
MeadowV     13
StoneBr     13
BrDale      11
Veenker      7
NPkVill      6
Blmngtn      6
Greens       5
Blueste      4
Name: Neighborhood, dtype: int64

In [121]:
test['Neighborhood'] = pd.Categorical(test['Neighborhood'])

**Condition 1**

In [122]:
test['Condition 1'].dtype

dtype('O')

In [123]:
test['Condition 1'].value_counts(dropna=False)

Norm      755
Feedr      55
Artery     22
RRAn       14
PosN       12
PosA        8
RRAe        7
RRNn        3
RRNe        3
Name: Condition 1, dtype: int64

In [124]:
test['Condition 1'] = pd.Categorical(test['Condition 1'])

**Condition 2**

In [125]:
test['Condition 2'].value_counts(dropna=False)

Norm     875
Feedr      2
PosA       1
PosN       1
Name: Condition 2, dtype: int64

In [126]:
test['Condition 2'] = pd.Categorical(test['Condition 2'])

**Bldg Type**

In [127]:
test['Bldg Type'].value_counts(dropna=False)

1Fam      725
TwnhsE     72
Duplex     34
Twnhs      32
2fmCon     16
Name: Bldg Type, dtype: int64

In [128]:
test['Bldg Type'] = pd.Categorical(test['Bldg Type'])

**House Style**

In [129]:
test['House Style'].value_counts(dropna=False)

1Story    422
2Story    275
1.5Fin     96
SLvl       34
SFoyer     33
2.5Unf     10
1.5Unf      7
2.5Fin      2
Name: House Style, dtype: int64

In [130]:
test['House Style'] = pd.Categorical(test['House Style'])

**Roof Style**

In [131]:
test['Roof Style'].dtype

dtype('O')

In [132]:
test['Roof Style'].value_counts(dropna=False).sort_index()

Flat         7
Gable      702
Gambrel     10
Hip        154
Mansard      4
Shed         2
Name: Roof Style, dtype: int64

In [133]:
test['Roof Style'] = pd.Categorical(test['Roof Style'])

**Roof Matl**

In [134]:
test['Roof Matl'].dtype

dtype('O')

In [135]:
test['Roof Matl'].value_counts(dropna=False)

CompShg    862
Tar&Grv      8
WdShake      5
WdShngl      2
Metal        1
Roll         1
Name: Roof Matl, dtype: int64

In [136]:
test['Roof Matl'] = pd.Categorical(test['Roof Matl'])

**Exterior 1st**

In [137]:
test['Exterior 1st'].dtype

dtype('O')

In [138]:
test['Exterior 1st'].value_counts(dropna=False)

VinylSd    302
Wd Sdng    144
HdBoard    142
MetalSd    119
Plywood     69
CemntBd     36
BrkFace     24
Stucco      16
WdShing     11
AsbShng     11
BrkComm      3
PreCast      1
AsphShn      1
Name: Exterior 1st, dtype: int64

In [139]:
test['Exterior 1st'] = pd.Categorical(test['Exterior 1st'])

**Exterior 2nd**

In [140]:
test['Exterior 2nd'].dtype

dtype('O')

In [141]:
test['Exterior 2nd'].value_counts(dropna=False)

VinylSd    294
Wd Sdng    135
HdBoard    131
MetalSd    123
Plywood     89
CmentBd     36
Wd Shng     18
Stucco      17
BrkFace     13
AsbShng     10
Brk Cmn      5
ImStucc      4
PreCast      1
CBlock       1
Other        1
AsphShn      1
Name: Exterior 2nd, dtype: int64

In [142]:
test['Exterior 2nd'] = pd.Categorical(test['Exterior 2nd'])

**Mas Vnr Type**

In [143]:
test['Mas Vnr Type'].dtype

dtype('O')

In [144]:
test['Mas Vnr Type'].value_counts(dropna=False).sort_index()

BrkCmn      12
BrkFace    250
CBlock       1
None       534
Stone       81
NaN          1
Name: Mas Vnr Type, dtype: int64

In [145]:
test['Mas Vnr Type'] = pd.Categorical(test['Mas Vnr Type'])

**Foundation**

In [146]:
test['Foundation'].dtype

dtype('O')

In [147]:
test['Foundation'].value_counts(dropna=False)

PConc     384
CBlock    381
BrkTil     90
Slab       15
Stone       6
Wood        3
Name: Foundation, dtype: int64

In [148]:
test['Foundation'] = pd.Categorical(test['Foundation'])

**Heating**

In [149]:
test['Heating'].dtype

dtype('O')

In [150]:
test['Heating'].value_counts(dropna=False).sort_index()

Floor      1
GasA     867
GasW       7
Grav       4
Name: Heating, dtype: int64

In [151]:
test['Heating'] = pd.Categorical(test['Heating'])

In [152]:
## DROP FLOOR?
# test = test[test['Heating'] != 'Floor']
# test['Heating'] = test['Heating'].cat.remove_unused_categories()

In [153]:
test['Heating'].value_counts(dropna=False).sort_index()

Floor      1
GasA     867
GasW       7
Grav       4
Name: Heating, dtype: int64

**Central Air**

In [154]:
test['Central Air'].value_counts(dropna=False)

Y    824
N     55
Name: Central Air, dtype: int64

In [155]:
test['Central Air'] = test['Central Air'].map(lambda x: 1 if x == 'Y' else 0)

In [156]:
test['Central Air'].value_counts()

1    824
0     55
Name: Central Air, dtype: int64

**Garage Type**

In [157]:
test['Garage Type'].dtype

dtype('O')

In [158]:
test['Garage Type'].value_counts(dropna=False).sort_index()

2Types       4
Attchd     518
Basment      9
BuiltIn     54
CarPort      4
Detchd     246
NaN         44
Name: Garage Type, dtype: int64

In [159]:
garage_type_missing_idx = test[test['Garage Type'].isnull()].index.tolist()

In [160]:
test['Garage Type'] = test['Garage Type'].fillna('None')

In [161]:
test['Garage Type'].value_counts().sort_index()

2Types       4
Attchd     518
Basment      9
BuiltIn     54
CarPort      4
Detchd     246
None        44
Name: Garage Type, dtype: int64

In [162]:
test['Garage Type'] = pd.Categorical(test['Garage Type'])

**Misc Feature**

In [163]:
test['Misc Feature'].dtype

dtype('O')

In [164]:
test['Misc Feature'].value_counts(dropna=False).sort_index()

Gar2      1
Othr      1
Shed     39
NaN     838
Name: Misc Feature, dtype: int64

In [165]:
test['Misc Feature'] = test['Misc Feature'].fillna('None')

In [166]:
test['Misc Feature'] = pd.Categorical(test['Misc Feature'])

In [167]:
test['Misc Feature'].value_counts(dropna=False).sort_index()

Gar2      1
None    838
Othr      1
Shed     39
Name: Misc Feature, dtype: int64

**Sale Type**

In [168]:
test['Sale Type'].dtype

dtype('O')

In [169]:
test['Sale Type'].value_counts(dropna=False).sort_index()

COD       24
CWD        2
Con        1
ConLD      9
ConLI      2
ConLw      3
New       79
Oth        3
VWD        1
WD       755
Name: Sale Type, dtype: int64

In [170]:
test['Sale Type'] = pd.Categorical(test['Sale Type'])

### Ordinal Features

In [171]:
ordinal_features = ['Lot Shape', 'Utilities', 'Land Slope', 'Overall Qual', 'Overall Cond', 'Exter Qual',
                    'Exter Cond', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2',
                    'Heating QC', 'Electrical', 'Kitchen Qual', 'Functional', 'Fireplace Qu', 'Garage Finish',
                    'Garage Qual', 'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence'
                   ]

**Lot Shape**

In [172]:
test['Lot Shape'].dtype

dtype('O')

In [173]:
test['Lot Shape'].value_counts()

Reg    564
IR1    287
IR2     21
IR3      7
Name: Lot Shape, dtype: int64

In [174]:
test['Lot Shape'].value_counts().index.tolist()

['Reg', 'IR1', 'IR2', 'IR3']

In [175]:
category_int_map = {'IR3': 1, 'IR2': 2, 'IR1': 3, 'Reg': 4}

test['Lot Shape'] = test['Lot Shape'].map(category_int_map)

In [176]:
test['Lot Shape'].value_counts(dropna=False).sort_index()

1      7
2     21
3    287
4    564
Name: Lot Shape, dtype: int64

**Utilities**

In [177]:
test['Utilities'].dtype

dtype('O')

In [178]:
test['Utilities'].value_counts(dropna=False)

AllPub    878
NoSewr      1
Name: Utilities, dtype: int64

In [179]:
category_int_map = {'ELO': 1, 'NoSeWa': 2, 'NoSewr': 3, 'AllPub': 4}

test['Utilities'] = test['Utilities'].map(category_int_map)

In [180]:
test['Utilities'].value_counts()

4    878
3      1
Name: Utilities, dtype: int64

**Land Slope**

In [181]:
test['Land Slope'].dtype

dtype('O')

In [182]:
test['Land Slope'].value_counts()

Gtl    836
Mod     37
Sev      6
Name: Land Slope, dtype: int64

In [183]:
category_int_map = {'Gtl': 1, 'Mod': 2, 'Sev': 3}

test['Land Slope'] = test['Land Slope'].map(category_int_map)

**Overall Qual**

In [184]:
test['Overall Qual'].dtype

dtype('int64')

In [185]:
test['Overall Qual'].value_counts().sort_index()

2       4
3      11
4      67
5     262
6     226
7     171
8     100
9      30
10      8
Name: Overall Qual, dtype: int64

In [186]:
# categories = pd.Categorical(test['Overall Qual'], 
#                             categories=[i for i in range(1, 11)], 
#                             ordered=True)

# labels, unique = pd.factorize(categories, sort=True)

# test['Overall Qual'] = labels

**Overall Cond**

In [187]:
test['Overall Cond'].dtype

dtype('int64')

In [188]:
test['Overall Cond'].value_counts().sort_index()

1      3
2      4
3     15
4     31
5    486
6    165
7    120
8     43
9     12
Name: Overall Cond, dtype: int64

**Exter Qual**

In [189]:
test['Exter Qual'].dtype

dtype('O')

In [190]:
test['Exter Qual'].value_counts(dropna=False)

TA    552
Gd    292
Ex     26
Fa      9
Name: Exter Qual, dtype: int64

In [191]:
category_int_map = {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

test['Exter Qual'] = test['Exter Qual'].map(category_int_map)

**Exter Cond**

In [192]:
test['Exter Cond'].dtype

dtype('O')

In [193]:
test['Exter Cond'].value_counts(dropna=False)

TA    771
Gd     84
Fa     18
Ex      5
Po      1
Name: Exter Cond, dtype: int64

In [194]:
category_int_map = {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

test['Exter Cond'] = test['Exter Cond'].map(category_int_map)

**Bsmt Qual**

In [195]:
test['Bsmt Qual'].dtype

dtype('O')

In [196]:
test['Bsmt Qual'].value_counts(dropna=False).reindex([np.nan, 'Po', 'Fa', 'TA', 'Gd', 'Ex'])

NaN     25
Po       1
Fa      28
TA     396
Gd     355
Ex      74
Name: Bsmt Qual, dtype: int64

In [197]:
# Fill NA value with NB (stands for No Basement)
test['Bsmt Qual'] = test['Bsmt Qual'].fillna('None')

In [198]:
category_int_map = {'None': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

test['Bsmt Qual'] = test['Bsmt Qual'].map(category_int_map)

In [199]:
test['Bsmt Qual'].value_counts().sort_index()

0     25
1      1
2     28
3    396
4    355
5     74
Name: Bsmt Qual, dtype: int64

**Bsmt Cond**

In [200]:
test['Bsmt Cond'].dtype

dtype('O')

In [201]:
test['Bsmt Cond'].value_counts(dropna=False).reindex([np.nan, 'Po', 'Fa', 'TA', 'Gd', 'Ex'])

NaN     25.0
Po       NaN
Fa      39.0
TA     782.0
Gd      33.0
Ex       NaN
Name: Bsmt Cond, dtype: float64

In [202]:
# Fill NA value with NB (stands for No Basement)
test['Bsmt Cond'] = test['Bsmt Cond'].fillna('None')

In [203]:
category_int_map = {'None': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

test['Bsmt Cond'] = test['Bsmt Cond'].map(category_int_map)

In [204]:
test['Bsmt Cond'].value_counts().sort_index()

0     25
2     39
3    782
4     33
Name: Bsmt Cond, dtype: int64

**Bsmt Exposure**

In [205]:
test['Bsmt Exposure'].dtype

dtype('O')

In [206]:
test['Bsmt Exposure'].value_counts(dropna=False).reindex([np.nan, 'No', 'Mn', 'Av', 'Gd'])

NaN     25
No     567
Mn      76
Av     130
Gd      81
Name: Bsmt Exposure, dtype: int64

In [207]:
test['Bsmt Exposure'] = test['Bsmt Exposure'].fillna('None')

In [208]:
category_int_map = {'None': 0, 'No': 1, 'Mn': 2, 'Av': 3, 'Gd': 4}

test['Bsmt Exposure'] = test['Bsmt Exposure'].map(category_int_map)

# categories = pd.Categorical(test['Bsmt Exposure'], 
#                             categories=['NB', 'No', 'Mn', 'Av', 'Gd'], 
#                             ordered=True)

# labels, unique = pd.factorize(categories, sort=True)

# test['Bsmt Exposure'] = labels

In [209]:
test['Bsmt Exposure'].value_counts().sort_index()

0     25
1    567
2     76
3    130
4     81
Name: Bsmt Exposure, dtype: int64

**BsmtFin Type 1**

In [210]:
test['BsmtFin Type 1'].dtype

dtype('O')

In [211]:
test['BsmtFin Type 1'].value_counts(dropna=False).reindex([np.nan, 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ'])

NaN     25
Unf    248
LwQ     52
Rec    105
BLQ     69
ALQ    136
GLQ    244
Name: BsmtFin Type 1, dtype: int64

In [212]:
test['BsmtFin Type 1'] = test['BsmtFin Type 1'].fillna('None')

In [213]:
category_int_map = {'None': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4, 'ALQ': 5, 'GLQ': 6}

test['BsmtFin Type 1'] = test['BsmtFin Type 1'].map(category_int_map)

# categories = pd.Categorical(test['BsmtFin Type 1'], 
#                             categories=['NB', 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ'], 
#                             ordered=True)

# labels, unique = pd.factorize(categories, sort=True)

# test['BsmtFin Type 1'] = labels

In [214]:
test['BsmtFin Type 1'].value_counts().sort_index()

0     25
1    248
2     52
3    105
4     69
5    136
6    244
Name: BsmtFin Type 1, dtype: int64

**BsmtFin Type 2**

In [215]:
test['BsmtFin Type 2'].dtype

dtype('O')

In [216]:
test['BsmtFin Type 2'].value_counts(dropna=False).reindex([np.nan, 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ'])

NaN     25
Unf    750
LwQ     29
Rec     26
BLQ     20
ALQ     18
GLQ     11
Name: BsmtFin Type 2, dtype: int64

In [217]:
test['BsmtFin Type 2'] = test['BsmtFin Type 2'].fillna('None')

In [218]:
category_int_map = {'None': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4, 'ALQ': 5, 'GLQ': 6}

test['BsmtFin Type 2'] = test['BsmtFin Type 2'].map(category_int_map)

# categories = pd.Categorical(test['BsmtFin Type 2'], 
#                             categories=['NB', 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ'], 
#                             ordered=True)

# labels, unique = pd.factorize(categories, sort=True)

# test['BsmtFin Type 2'] = labels

In [219]:
test['BsmtFin Type 2'].value_counts(dropna=False).sort_index()

0     25
1    750
2     29
3     26
4     20
5     18
6     11
Name: BsmtFin Type 2, dtype: int64

**Heating QC**

In [220]:
test['Heating QC'].dtype

dtype('O')

In [221]:
test['Heating QC'].value_counts().reindex(['Po', 'Fa', 'TA', 'Gd', 'Ex'])

Po      NaN
Fa     25.0
TA    267.0
Gd    157.0
Ex    430.0
Name: Heating QC, dtype: float64

In [222]:
category_int_map = {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

test['Heating QC'] = test['Heating QC'].map(category_int_map)

**Electrical**

In [223]:
test['Electrical'].dtype

dtype('O')

In [224]:
test['Electrical'].value_counts(dropna=False).reindex([np.nan, 'Mix', 'FuseP', 'FuseF', 'FuseA', 'SBrkr'])

NaN        1.0
Mix        NaN
FuseP      1.0
FuseF     15.0
FuseA     48.0
SBrkr    814.0
Name: Electrical, dtype: float64

In [225]:
category_int_map = {'Mix': 1, 'FuseP': 2, 'FuseF': 3, 'FuseA': 4, 'SBrkr': 5}

test['Electrical'] = test['Electrical'].map(category_int_map)

In [226]:
test['Electrical'] = test['Electrical'].astype('Int64')

In [227]:
test['Electrical'].value_counts(dropna=False).sort_index()

2        1
3       15
4       48
5      814
NaN      1
Name: Electrical, dtype: int64

**Kitchen Qual**

In [228]:
test['Kitchen Qual'].dtype

dtype('O')

In [229]:
test['Kitchen Qual'].value_counts(dropna=False).reindex(['Po', 'Fa', 'TA', 'Gd', 'Ex'])

Po      1
Fa     23
TA    447
Gd    354
Ex     54
Name: Kitchen Qual, dtype: int64

In [230]:
category_int_map = {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}
test['Kitchen Qual'] = test['Kitchen Qual'].replace(category_int_map)

In [231]:
test['Kitchen Qual'].value_counts(dropna=False).sort_index()

1      1
2     23
3    447
4    354
5     54
Name: Kitchen Qual, dtype: int64

**Functional**

In [232]:
test['Functional'].dtype

dtype('O')

In [233]:
test['Functional'].value_counts(dropna=False).reindex(['Sal', 'Sev', 'Maj2', 'Maj1', 'Mod', 'Min2', 'Min1', 'Typ'])

Sal       NaN
Sev       NaN
Maj2      2.0
Maj1      7.0
Mod       6.0
Min2     28.0
Min1     23.0
Typ     813.0
Name: Functional, dtype: float64

In [234]:
category_int_map = {'Sal': 1, 'Sev': 2, 'Maj2': 3, 'Maj1': 4, 'Mod': 5, 'Min2': 6, 'Min1': 7, 'Typ': 8}

test['Functional'] = test['Functional'].map(category_int_map)

In [235]:
test['Functional'].value_counts(dropna=False).sort_index()

3      2
4      7
5      6
6     28
7     23
8    813
Name: Functional, dtype: int64

**Fireplace Qu**

In [236]:
test['Fireplace Qu'].dtype

dtype('O')

In [237]:
test['Fireplace Qu'].value_counts(dropna=False).reindex([np.nan, 'Po', 'Fa', 'TA', 'Gd', 'Ex'])

NaN    422
Po      15
Fa      16
TA     193
Gd     221
Ex      12
Name: Fireplace Qu, dtype: int64

In [238]:
category_int_map = {np.nan: 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

test['Fireplace Qu'] = test['Fireplace Qu'].map(category_int_map)

In [239]:
test['Fireplace Qu'].value_counts(dropna=False).sort_index()

0    422
1     15
2     16
3    193
4    221
5     12
Name: Fireplace Qu, dtype: int64

**Garage Finish**

In [240]:
test['Garage Finish'].dtype

dtype('O')

In [241]:
test['Garage Finish'].value_counts(dropna=False).reindex([np.nan, 'Unf', 'RFn', 'Fin'])

NaN     45
Unf    382
RFn    233
Fin    219
Name: Garage Finish, dtype: int64

In [242]:
garage_finish_missing_idx = test[test['Garage Finish'].isnull()].index.tolist()

In [243]:
print(garage_finish_missing_idx)

[1904, 979, 2362, 2188, 1988, 217, 2908, 1507, 1368, 332, 292, 760, 1408, 331, 171, 2304, 1388, 291, 2680, 1943, 704, 758, 2232, 721, 2917, 212, 276, 663, 2919, 2043, 541, 2297, 1315, 1506, 743, 2185, 2473, 2928, 1412, 713, 1357, 2196, 214, 126, 984]

In [244]:
category_int_map = {np.nan: 0, 'Unf': 1, 'RFn': 2, 'Fin': 3}

test['Garage Finish'] = test['Garage Finish'].map(category_int_map)

In [245]:
test['Garage Finish'].value_counts().sort_index()

0     45
1    382
2    233
3    219
Name: Garage Finish, dtype: int64

**Garage Qual**

In [246]:
test['Garage Qual'].dtype

dtype('O')

In [247]:
test['Garage Qual'].value_counts(dropna=False).reindex([np.nan, 'Po', 'Fa', 'TA', 'Gd', 'Ex'])

NaN     45.0
Po       3.0
Fa      42.0
TA     783.0
Gd       6.0
Ex       NaN
Name: Garage Qual, dtype: float64

In [248]:
garage_qual_missing_idx = test[test['Garage Qual'].isnull()].index.tolist()

In [249]:
print(garage_qual_missing_idx)

[1904, 979, 2362, 2188, 1988, 217, 2908, 1507, 1368, 332, 292, 760, 1408, 331, 171, 2304, 1388, 291, 2680, 1943, 704, 758, 2232, 721, 2917, 212, 276, 663, 2919, 2043, 541, 2297, 1315, 1506, 743, 2185, 2473, 2928, 1412, 713, 1357, 2196, 214, 126, 984]

In [250]:
category_int_map = {np.nan: 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

test['Garage Qual'] = test['Garage Qual'].map(category_int_map)

In [251]:
test['Garage Qual'].value_counts(dropna=False).sort_index()

0     45
1      3
2     42
3    783
4      6
Name: Garage Qual, dtype: int64

**Garage Cond**

In [252]:
test['Garage Cond'].dtype

dtype('O')

In [253]:
test['Garage Cond'].value_counts(dropna=False).reindex([np.nan, 'Po', 'Fa', 'TA', 'Gd', 'Ex'])

NaN     45
Po       6
Fa      27
TA     797
Gd       3
Ex       1
Name: Garage Cond, dtype: int64

In [254]:
garage_cond_missing_idx = test[test['Garage Cond'].isnull()].index.tolist()

In [255]:
print(garage_cond_missing_idx)

[1904, 979, 2362, 2188, 1988, 217, 2908, 1507, 1368, 332, 292, 760, 1408, 331, 171, 2304, 1388, 291, 2680, 1943, 704, 758, 2232, 721, 2917, 212, 276, 663, 2919, 2043, 541, 2297, 1315, 1506, 743, 2185, 2473, 2928, 1412, 713, 1357, 2196, 214, 126, 984]

In [256]:
category_int_map = {np.nan: 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

test['Garage Cond'] = test['Garage Cond'].map(category_int_map)

In [257]:
test['Garage Cond'].value_counts(dropna=False).sort_index()

0     45
1      6
2     27
3    797
4      3
5      1
Name: Garage Cond, dtype: int64

**Paved Drive**

In [258]:
test['Paved Drive'].dtype

dtype('O')

In [259]:
test['Paved Drive'].value_counts(dropna=False).reindex(['N', 'P', 'Y'])

N     65
P     23
Y    791
Name: Paved Drive, dtype: int64

In [260]:
category_int_map = {'N': 1, 'P': 2, 'Y': 3}

test['Paved Drive'] = test['Paved Drive'].map(category_int_map)

In [261]:
test['Paved Drive'].value_counts(dropna=False).sort_index()

1     65
2     23
3    791
Name: Paved Drive, dtype: int64

**Pool QC**

In [262]:
test['Pool QC'].dtype

dtype('O')

In [263]:
test['Pool QC'].value_counts(dropna=False).reindex([np.nan, 'Fa', 'TA', 'Gd', 'Ex'])

NaN    875.0
Fa       NaN
TA       1.0
Gd       NaN
Ex       3.0
Name: Pool QC, dtype: float64

In [264]:
category_int_map = {np.nan: 0, 'Fa': 1, 'TA': 2, 'Gd': 3, 'Ex': 4}

test['Pool QC'] = test['Pool QC'].map(category_int_map)

In [265]:
test['Pool QC'].value_counts(dropna=False).sort_index()

0    875
2      1
4      3
Name: Pool QC, dtype: int64

**Fence**

In [266]:
test['Fence'].dtype

dtype('O')

In [267]:
test['Fence'].value_counts(dropna=False).reindex([np.nan, 'MnWw', 'GdWo', 'MnPrv', 'GdPrv'])

NaN      707
MnWw       2
GdWo      32
MnPrv    103
GdPrv     35
Name: Fence, dtype: int64

In [268]:
category_int_map = {np.nan: 0, 'MnWw': 1, 'GdWo': 2, 'MnPrv': 3, 'GdPrv': 4}

test['Fence'] = test['Fence'].map(category_int_map)

In [269]:
test['Fence'].value_counts(dropna=False).sort_index()

0    707
1      2
2     32
3    103
4     35
Name: Fence, dtype: int64

## Handling Missing Data

In [270]:
test.shape

(879, 79)

In [271]:
test.isnull().sum()[test.isnull().sum() > 0]

Lot Frontage     160
Mas Vnr Type       1
Mas Vnr Area       1
Electrical         1
Garage Yr Blt     45
dtype: int64

**Lot Frontage**

In [272]:
test.loc[test['Lot Frontage'].isnull(), ['Neighborhood', 'Lot Frontage']]

     Neighborhood  Lot Frontage
Id
2718       Sawyer           NaN
625         NAmes           NaN
858       CollgCr           NaN
818       SawyerW           NaN
222        Sawyer           NaN
...           ...           ...
2582        NAmes           NaN
984       Mitchel           NaN
2271       Timber           NaN
1633      StoneBr           NaN
2765      ClearCr           NaN

[160 rows x 2 columns]

In [273]:
test['Lot Frontage'].min(), test['Lot Frontage'].max()

(21.0, 182.0)

In [274]:
neighborhood_median_lot_frontage_map = train.groupby('Neighborhood')['Lot Frontage'].median().to_dict()

def fillna_lot_frontage(row):
    if np.isnan(row['Lot Frontage']):
        return neighborhood_median_lot_frontage_map[row['Neighborhood']]
    else:
        return row['Lot Frontage']

In [275]:
test['Lot Frontage'] = test.apply(lambda row: fillna_lot_frontage(row), axis=1)

In [276]:
test['Lot Frontage'][test['Lot Frontage'].isnull()]

Series([], Name: Lot Frontage, dtype: float64)

**Mas Vnr Type**

Handling missing data

In [277]:
# Same indices with missing 'Mas Vnr Area' features
missing_mas_vnr_type_indices = test['Mas Vnr Type'][test['Mas Vnr Type'].isnull()].index
missing_mas_vnr_type_indices

Int64Index([868], dtype='int64', name='Id')

In [278]:
test['Mas Vnr Type'].value_counts(dropna=False)

None       534
BrkFace    250
Stone       81
BrkCmn      12
NaN          1
CBlock       1
Name: Mas Vnr Type, dtype: int64

In [279]:
test.loc[missing_mas_vnr_type_indices, ['Mas Vnr Type']]

    Mas Vnr Type
Id
868          NaN

In [280]:
test.loc[missing_mas_vnr_type_indices, 'Mas Vnr Type'] = 'None'

In [281]:
test.loc[missing_mas_vnr_type_indices, ['Mas Vnr Type']]

    Mas Vnr Type
Id
868         None

**Mas Vnr Area**

Handling missing data

In [282]:
# Same indices with missing 'Mas Vnr Type' features
missing_mas_vnr_area_indices = test['Mas Vnr Area'][test['Mas Vnr Area'].isnull()].index
missing_mas_vnr_area_indices

Int64Index([868], dtype='int64', name='Id')

In [283]:
test['Mas Vnr Area'].min(), test['Mas Vnr Area'].max()

(0.0, 1378.0)

In [284]:
test.groupby('Mas Vnr Type')['Mas Vnr Area'].median()

Mas Vnr Type
BrkCmn     144.5
BrkFace    215.5
CBlock     198.0
None         0.0
Stone      240.0
Name: Mas Vnr Area, dtype: float64

In [285]:
# test.dropna(subset=['Mas Vnr Area'], inplace=True)
test.loc[missing_mas_vnr_area_indices, ['Mas Vnr Area']]

     Mas Vnr Area
Id
868           NaN

In [286]:
test.loc[missing_mas_vnr_area_indices, 'Mas Vnr Area'] = 0.0

In [287]:
test.loc[missing_mas_vnr_area_indices, ['Mas Vnr Area']]

     Mas Vnr Area
Id
868           0.0

Observation: The same rows have missing values for Mas Vnr Type, Mas Vnr Area

**Electrical**

In [288]:
test[test['Electrical'].isnull()]

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
Id,,,,,,,,,,,,,,,,,,,,,
1578,916386080,080,RL,73.0,9735.0,Pave,None,4,Lvl,4,...,0.0,0.0,0.0,0,0,None,0.0,05,2008,WD

In [289]:
test['Electrical'].value_counts(dropna=False)

5      814
4       48
3       15
NaN      1
2        1
Name: Electrical, dtype: int64

In [290]:
# test.dropna(subset=['Electrical'], inplace=True)
missing_electrical_indices = test['Electrical'][test['Electrical'].isnull()].index
missing_electrical_indices

Int64Index([1578], dtype='int64', name='Id')

In [291]:
test.loc[missing_electrical_indices, 'Electrical']

Id
1578    NaN
Name: Electrical, dtype: Int64

In [292]:
test.loc[missing_electrical_indices, 'Electrical'] = 5

In [293]:
test.loc[missing_electrical_indices, 'Electrical']

Id
1578    5
Name: Electrical, dtype: Int64

In [294]:
test['Electrical'].value_counts(dropna=False)

5      815
4       48
3       15
2        1
NaN      0
Name: Electrical, dtype: int64

**Garage Yr Blt**

In [295]:
test[test['Garage Yr Blt'].isnull()].shape[0]

45

In [296]:
test['Garage Yr Blt'].value_counts(dropna=False)

NaN       45
2005.0    37
2006.0    35
2007.0    31
2004.0    27
          ..
1927.0     1
1923.0     1
1943.0     1
1935.0     1
1906.0     1
Name: Garage Yr Blt, Length: 94, dtype: int64

In [299]:
np.array_equal(garage_yr_blt_missing_idx, garage_qual_missing_idx)

True

In [300]:
test['Garage Yr Blt'].fillna(0, inplace=True)

In [301]:
test['Garage Yr Blt'].value_counts()

0       45
2005    37
2006    35
2007    31
2004    27
        ..
1943     1
1908     1
1906     1
1916     1
1927     1
Name: Garage Yr Blt, Length: 94, dtype: int64

In [302]:
# Save
test.to_csv('../data/test_cleaned.csv')