## Import libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Read data

In [5]:
sample = pd.read_csv('../data/sample_sub_reg.csv', index_col='Id')
train = pd.read_csv('../data/train.csv', index_col='Id')
test = pd.read_csv('../data/test.csv', index_col='Id')

In [6]:
print("No. of columns in train: {}".format(len(train.columns)))
print("No. of columns in test: {}".format(len(test.columns)))
set(train.columns).symmetric_difference(set(test.columns))

No. of columns in train: 80
No. of columns in test: 79

{'SalePrice'}

train and train data have 80 common columns, but train has one feature more than train. That feature is SalePrice.

## EDA - train data

### Features with null values

In [7]:
train.shape

(2051, 80)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2051 entries, 109 to 10
Data columns (total 80 columns):
PID                2051 non-null int64
MS SubClass        2051 non-null int64
MS Zoning          2051 non-null object
Lot Frontage       1721 non-null float64
Lot Area           2051 non-null int64
Street             2051 non-null object
Alley              140 non-null object
Lot Shape          2051 non-null object
Land Contour       2051 non-null object
Utilities          2051 non-null object
Lot Config         2051 non-null object
Land Slope         2051 non-null object
Neighborhood       2051 non-null object
Condition 1        2051 non-null object
Condition 2        2051 non-null object
Bldg Type          2051 non-null object
House Style        2051 non-null object
Overall Qual       2051 non-null int64
Overall Cond       2051 non-null int64
Year Built         2051 non-null int64
Year Remod/Add     2051 non-null int64
Roof Style         2051 non-null object
Roof Matl          2051 non-null object
Exterior 1st       2051 non-null object
Exterior 2nd       2051 non-null object
Mas Vnr Type       2029 non-null object
Mas Vnr Area       2029 non-null float64
Exter Qual         2051 non-null object
Exter Cond         2051 non-null object
Foundation         2051 non-null object
Bsmt Qual          1996 non-null object
Bsmt Cond          1996 non-null object
Bsmt Exposure      1993 non-null object
BsmtFin Type 1     1996 non-null object
BsmtFin SF 1       2050 non-null float64
BsmtFin Type 2     1995 non-null object
BsmtFin SF 2       2050 non-null float64
Bsmt Unf SF        2050 non-null float64
Total Bsmt SF      2050 non-null float64
Heating            2051 non-null object
Heating QC         2051 non-null object
Central Air        2051 non-null object
Electrical         2051 non-null object
1st Flr SF         2051 non-null int64
2nd Flr SF         2051 non-null int64
Low Qual Fin SF    2051 non-null int64
Gr Liv Area        2051 non-null int64
Bsmt Full Bath     2049 non-null float64
Bsmt Half Bath     2049 non-null float64
Full Bath          2051 non-null int64
Half Bath          2051 non-null int64
Bedroom AbvGr      2051 non-null int64
Kitchen AbvGr      2051 non-null int64
Kitchen Qual       2051 non-null object
TotRms AbvGrd      2051 non-null int64
Functional         2051 non-null object
Fireplaces         2051 non-null int64
Fireplace Qu       1051 non-null object
Garage Type        1938 non-null object
Garage Yr Blt      1937 non-null float64
Garage Finish      1937 non-null object
Garage Cars        2050 non-null float64
Garage Area        2050 non-null float64
Garage Qual        1937 non-null object
Garage Cond        1937 non-null object
Paved Drive        2051 non-null object
Wood Deck SF       2051 non-null int64
Open Porch SF      2051 non-null int64
Enclosed Porch     2051 non-null int64
3Ssn Porch         2051 non-null int64
Screen Porch       2051 non-null int64
Pool Area          2051 non-null int64
Pool QC            9 non-null object
Fence              400 non-null object
Misc Feature       65 non-null object
Misc Val           2051 non-null int64
Mo Sold            2051 non-null int64
Yr Sold            2051 non-null int64
Sale Type          2051 non-null object
SalePrice          2051 non-null int64
dtypes: float64(11), int64(27), object(42)
memory usage: 1.3+ MB

In [9]:
train.isnull().sum()[train.isnull().sum() > 0]

Lot Frontage       330
Alley             1911
Mas Vnr Type        22
Mas Vnr Area        22
Bsmt Qual           55
Bsmt Cond           55
Bsmt Exposure       58
BsmtFin Type 1      55
BsmtFin SF 1         1
BsmtFin Type 2      56
BsmtFin SF 2         1
Bsmt Unf SF          1
Total Bsmt SF        1
Bsmt Full Bath       2
Bsmt Half Bath       2
Fireplace Qu      1000
Garage Type        113
Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Pool QC           2042
Fence             1651
Misc Feature      1986
dtype: int64

In [10]:
train.isnull().sum()[train.isnull().sum() > 0].index.tolist()

['Lot Frontage',
 'Alley',
 'Mas Vnr Type',
 'Mas Vnr Area',
 'Bsmt Qual',
 'Bsmt Cond',
 'Bsmt Exposure',
 'BsmtFin Type 1',
 'BsmtFin SF 1',
 'BsmtFin Type 2',
 'BsmtFin SF 2',
 'Bsmt Unf SF',
 'Total Bsmt SF',
 'Bsmt Full Bath',
 'Bsmt Half Bath',
 'Fireplace Qu',
 'Garage Type',
 'Garage Yr Blt',
 'Garage Finish',
 'Garage Cars',
 'Garage Area',
 'Garage Qual',
 'Garage Cond',
 'Pool QC',
 'Fence',
 'Misc Feature']

In [11]:
discrete_features = ['Year Built', 'Year Remod/Add', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath', 'Half Bath',
           'Bedroom AbvGr', 'Kitchen AbvGr', 'TotRms AbvGrd', 'Fireplaces', 'Garage Yr Blt', 'Garage Cars',
            'Mo Sold', 'Yr Sold']

continuous_features = ['Lot Frontage', 'Lot Area', 'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2',
                       'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
                       'Gr Liv Area', 'Garage Area', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch',
                       '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val']

nominal_features = ['PID', 'MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Land Contour', 'Lot Config',
                    'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style',
                    'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Foundation', 'Heating',
                    'Central Air', 'Garage Type', 'Misc Feature', 'Sale Type']

ordinal_features = ['Lot Shape', 'Utilities', 'Land Slope', 'Overall Qual', 'Overall Cond', 'Exter Qual',
                    'Exter Cond', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2',
                    'Heating QC', 'Electrical', 'Kitchen Qual', 'Functional', 'Fireplace Qu', 'Garage Finish',
                    'Garage Qual', 'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence'
                   ]

len(discrete_features), len(continuous_features), len(nominal_features), len(ordinal_features)

(14, 19, 23, 23)

### Discrete Features

**Year Built**

In [12]:
train['Year Built'].dtype

dtype('int64')

In [13]:
sorted(train['Year Built'].value_counts().index.tolist())

[1872,
 1875,
 1879,
 1880,
 1885,
 1890,
 1892,
 1893,
 1895,
 1896,
 1898,
 1900,
 1901,
 1905,
 1908,
 1910,
 1911,
 1912,
 1913,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010]

**Year Remod/Add**

In [14]:
train['Year Remod/Add'].dtype

dtype('int64')

In [15]:
sorted(train['Year Remod/Add'].value_counts().index.tolist())

[1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010]

**Bsmt Full Bath**

In [16]:
train['Bsmt Full Bath'].dtype

dtype('float64')

In [17]:
train['Bsmt Full Bath'].value_counts(dropna=False)

0.0    1200
1.0     824
2.0      23
3.0       2
NaN       2
Name: Bsmt Full Bath, dtype: int64

In [18]:
train['Bsmt Full Bath'] = train['Bsmt Full Bath'].astype('Int64')

In [19]:
train['Bsmt Full Bath'].value_counts(dropna=False).sort_index()

0      1200
1       824
2        23
3         2
NaN       2
Name: Bsmt Full Bath, dtype: int64

**Bsmt Half Bath**

In [20]:
train['Bsmt Half Bath'].dtype

dtype('float64')

In [21]:
train['Bsmt Half Bath'].value_counts(dropna=False)

0.0    1923
1.0     122
2.0       4
NaN       2
Name: Bsmt Half Bath, dtype: int64

In [22]:
train['Bsmt Half Bath'] = train['Bsmt Half Bath'].astype('Int64')

In [23]:
train['Bsmt Half Bath'].value_counts(dropna=False).sort_index()

0      1923
1       122
2         4
NaN       2
Name: Bsmt Half Bath, dtype: int64

**Full Bath**

In [24]:
train['Full Bath'].dtype

dtype('int64')

In [25]:
train['Full Bath'].value_counts(dropna=False)

2    1096
1     900
3      45
0       8
4       2
Name: Full Bath, dtype: int64

**Half Bath**

In [26]:
train['Half Bath'].dtype

dtype('int64')

In [27]:
train['Half Bath'].value_counts(dropna=False)

0    1308
1     725
2      18
Name: Half Bath, dtype: int64

**Bedroom AbvGr**

In [28]:
train['Bedroom AbvGr'].dtype

dtype('int64')

In [29]:
train['Bedroom AbvGr'].value_counts(dropna=False).sort_index()

0       5
1      75
2     544
3    1108
4     265
5      41
6      12
8       1
Name: Bedroom AbvGr, dtype: int64

**Kitchen AbvGr**

In [30]:
train['Kitchen AbvGr'].dtype

dtype('int64')

In [31]:
train['Kitchen AbvGr'].value_counts(dropna=False).sort_index()

0       2
1    1960
2      88
3       1
Name: Kitchen AbvGr, dtype: int64

**TotRms AbvGrd**

In [32]:
train['TotRms AbvGrd'].dtype

dtype('int64')

In [33]:
train['TotRms AbvGrd'].value_counts(dropna=False).sort_index()

2       1
3      12
4     146
5     407
6     597
7     475
8     228
9      98
10     49
11     22
12     13
13      1
14      1
15      1
Name: TotRms AbvGrd, dtype: int64

**Fireplaces**

In [34]:
train['Fireplaces'].dtype

dtype('int64')

In [35]:
train['Fireplaces'].value_counts(dropna=False)

0    1000
1     898
2     146
3       6
4       1
Name: Fireplaces, dtype: int64

**Garage Yr Blt**

In [36]:
train['Garage Yr Blt'].dtype

dtype('float64')

In [37]:
train['Garage Yr Blt'].value_counts().sort_index()

1895.0     1
1896.0     1
1900.0     3
1910.0     5
1914.0     2
          ..
2007.0    84
2008.0    44
2009.0    17
2010.0     2
2207.0     1
Name: Garage Yr Blt, Length: 100, dtype: int64

In [38]:
train['Garage Yr Blt'] = train['Garage Yr Blt'].astype('Int64')

In [39]:
train['Garage Yr Blt'].value_counts().sort_index()

1895     1
1896     1
1900     3
1910     5
1914     2
        ..
2007    84
2008    44
2009    17
2010     2
2207     1
Name: Garage Yr Blt, Length: 100, dtype: int64

Handling possibly erroneous data

In [40]:
train.loc[train['Garage Yr Blt'] == 2207]

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
2261,916384070,20,RL,68.0,8298,Pave,NaN,IR1,HLS,AllPub,...,0,0,NaN,NaN,NaN,0,9,2007,New,267300

**Garage Cars**

In [41]:
train['Garage Cars'].dtype

dtype('float64')

In [42]:
train['Garage Cars'].value_counts(dropna=False).sort_index()

0.0     113
1.0     524
2.0    1136
3.0     263
4.0      13
5.0       1
NaN       1
Name: Garage Cars, dtype: int64

In [43]:
train['Garage Cars'] = train['Garage Cars'].astype('Int64')

In [44]:
train['Garage Cars'].value_counts(dropna=False).sort_index()

0       113
1       524
2      1136
3       263
4        13
5         1
NaN       1
Name: Garage Cars, dtype: int64

**Mo Sold**

In [45]:
train['Mo Sold'].dtype

dtype('int64')

In [46]:
train['Mo Sold'].value_counts(dropna=False).sort_index()

1      79
2     104
3     168
4     208
5     257
6     352
7     303
8     167
9     109
10    123
11    103
12     78
Name: Mo Sold, dtype: int64

In [47]:
def get_nominal_value_str(value_int):
    value_str = str(value_int)
    if len(value_str) == 1:
        return "0" + value_str
    else:
        return value_str

train['Mo Sold'] = train['Mo Sold'].map(get_nominal_value_str)
train['Mo Sold'] = pd.Categorical(train['Mo Sold'])

In [48]:
train['Mo Sold'].map(get_nominal_value_str).value_counts(dropna=False).sort_index()

01     79
02    104
03    168
04    208
05    257
06    352
07    303
08    167
09    109
10    123
11    103
12     78
Name: Mo Sold, dtype: int64

**Yr Sold**

In [49]:
train['Yr Sold'].dtype

dtype('int64')

In [50]:
train['Yr Sold'].value_counts(dropna=False).sort_index()

2006    438
2007    498
2008    435
2009    446
2010    234
Name: Yr Sold, dtype: int64

In [51]:
train['Yr Sold'] = pd.Categorical(train['Yr Sold'])

### Continuous Features

In [52]:
continuous_features = ['Lot Frontage', 'Lot Area', 'Mas Vnr Area', 'BsmtFin SF 1', 'BsmtFin SF 2',
                       'Bsmt Unf SF', 'Total Bsmt SF', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
                       'Gr Liv Area', 'Garage Area', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch',
                       '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Misc Val']

**Lot Frontage**

In [53]:
train['Lot Frontage'].dtype

dtype('float64')

**Lot Area**

In [54]:
train['Lot Area'].dtype

dtype('int64')

In [55]:
train['Lot Area'] = train['Lot Area'].astype('float')

In [56]:
train['Lot Area'][train['Lot Area'].isnull()]

Series([], Name: Lot Area, dtype: float64)

**Mas Vnr Area**

In [57]:
train['Mas Vnr Area'].dtype

dtype('float64')

**BsmtFin SF 1**

In [58]:
train['BsmtFin SF 1'].dtype

dtype('float64')

In [59]:
train['BsmtFin SF 1'][train['BsmtFin SF 1'].isnull()]

Id
1342   NaN
Name: BsmtFin SF 1, dtype: float64

**BsmtFin SF 2**

In [60]:
train['BsmtFin SF 2'].dtype

dtype('float64')

In [61]:
train['BsmtFin SF 2'][train['BsmtFin SF 2'].isnull()]

Id
1342   NaN
Name: BsmtFin SF 2, dtype: float64

**Bsmt Unf SF**

In [62]:
train['Bsmt Unf SF'].dtype

dtype('float64')

In [63]:
train['Bsmt Unf SF'][train['Bsmt Unf SF'].isnull()]

Id
1342   NaN
Name: Bsmt Unf SF, dtype: float64

**Total Bsmt SF**

In [64]:
train['Total Bsmt SF'].dtype

dtype('float64')

In [65]:
train['Total Bsmt SF'][train['Total Bsmt SF'].isnull()]

Id
1342   NaN
Name: Total Bsmt SF, dtype: float64

**1st Flr SF**

In [66]:
train['1st Flr SF'] = train['1st Flr SF'].astype('float')

In [67]:
train['1st Flr SF'][train['1st Flr SF'].isnull()]

Series([], Name: 1st Flr SF, dtype: float64)

**2nd Flr SF**

In [68]:
train['2nd Flr SF'] = train['2nd Flr SF'].astype('float')

In [69]:
train['2nd Flr SF'][train['2nd Flr SF'].isnull()]

Series([], Name: 2nd Flr SF, dtype: float64)

**Low Qual Fin SF**

In [70]:
train['Low Qual Fin SF'] = train['Low Qual Fin SF'].astype('float')

In [71]:
train['Low Qual Fin SF'][train['Low Qual Fin SF'].isnull()]

Series([], Name: Low Qual Fin SF, dtype: float64)

**Gr Liv Area**

In [72]:
train['Gr Liv Area'] = train['Gr Liv Area'].astype('float')

In [73]:
train['Gr Liv Area'][train['Gr Liv Area'].isnull()]

Series([], Name: Gr Liv Area, dtype: float64)

**Garage Area**

In [74]:
train['Garage Area'].dtype

dtype('float64')

**Wood Deck SF**

In [75]:
train['Wood Deck SF'].dtype

dtype('int64')

In [76]:
train['Wood Deck SF'] = train['Wood Deck SF'].astype('float')

In [77]:
train['Wood Deck SF'][train['Wood Deck SF'].isnull()]

Series([], Name: Wood Deck SF, dtype: float64)

**Open Porch SF**

In [78]:
train['Open Porch SF'].dtype

dtype('int64')

In [79]:
train['Open Porch SF'] = train['Open Porch SF'].astype('float')

In [80]:
train['Open Porch SF'][train['Open Porch SF'].isnull()]

Series([], Name: Open Porch SF, dtype: float64)

**Enclosed Porch**

In [81]:
train['Enclosed Porch'].dtype

dtype('int64')

In [82]:
train['Enclosed Porch'] = train['Enclosed Porch'].astype('float')

In [83]:
train['Enclosed Porch'][train['Enclosed Porch'].isnull()]

Series([], Name: Enclosed Porch, dtype: float64)

**3Ssn Porch**

In [84]:
train['3Ssn Porch'].dtype

dtype('int64')

In [85]:
train['3Ssn Porch'] = train['3Ssn Porch'].astype('float')

In [86]:
train['3Ssn Porch'][train['3Ssn Porch'].isnull()]

Series([], Name: 3Ssn Porch, dtype: float64)

**Screen Porch**

In [87]:
train['Screen Porch'].dtype

dtype('int64')

In [88]:
train['Screen Porch'] = train['Screen Porch'].astype('float')

In [89]:
train['Screen Porch'][train['Screen Porch'].isnull()]

Series([], Name: Screen Porch, dtype: float64)

**Pool Area**

In [90]:
train['Pool Area'].dtype

dtype('int64')

In [91]:
train['Pool Area'] = train['Screen Porch'].astype('float')

In [92]:
train['Pool Area'][train['Pool Area'].isnull()]

Series([], Name: Pool Area, dtype: float64)

**Misc Val**

In [93]:
train['Misc Val'].dtype

dtype('int64')

In [94]:
train['Misc Val'] = train['Misc Val'].astype('float')

In [95]:
train['Misc Val'][train['Misc Val'].isnull()]

Series([], Name: Misc Val, dtype: float64)

### Nominal Features

In [96]:
nominal_features = ['PID', 'MS SubClass', 'MS Zoning', 'Street', 'Alley', 'Land Contour', 'Lot Config',
                    'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Roof Style',
                    'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Foundation', 'Heating',
                    'Central Air', 'Garage Type', 'Misc Feature', 'Sale Type']

**PID**

In [97]:
train['PID'].dtype

dtype('int64')

In [98]:
train['PID'][train['PID'].isnull()]

Series([], Name: PID, dtype: int64)

**MS SubClass**

In [99]:
train['MS SubClass'].value_counts(dropna=False).sort_index()

20     770
30     101
40       4
45      11
50     198
60     394
70      90
75      16
80      86
85      28
90      75
120    132
150      1
160     88
180     11
190     46
Name: MS SubClass, dtype: int64

In [100]:
train['MS SubClass'].dtype

dtype('int64')

In [101]:
def get_nominal_value_str(value_int):
    value_str = str(value_int)
    if len(value_str) == 2:
        return "0" + value_str
    elif len(value_str) == 3:
        return value_str
    
train['MS SubClass'] = train['MS SubClass'].map(get_nominal_value_str)
train['MS SubClass'] = pd.Categorical(train['MS SubClass'])

In [102]:
train['MS SubClass'].value_counts(dropna=False).sort_index()

020    770
030    101
040      4
045     11
050    198
060    394
070     90
075     16
080     86
085     28
090     75
120    132
150      1
160     88
180     11
190     46
Name: MS SubClass, dtype: int64

**MS Zoning**

In [103]:
train['MS Zoning'].value_counts(dropna=False).sort_index()

A (agr)       2
C (all)      19
FV          101
I (all)       1
RH           14
RL         1598
RM          316
Name: MS Zoning, dtype: int64

In [104]:
train['MS Zoning'] = pd.Categorical(train['MS Zoning'])

In [105]:
train['MS Zoning'].dtype

CategoricalDtype(categories=['A (agr)', 'C (all)', 'FV', 'I (all)', 'RH', 'RL', 'RM'], ordered=False)

**Street**

In [106]:
train['Street'].dtype

dtype('O')

In [107]:
train['Street'].value_counts()

Pave    2044
Grvl       7
Name: Street, dtype: int64

In [108]:
train['Street'] = pd.Categorical(train['Street'])

**Alley**

In [109]:
train['Alley'].dtype

dtype('O')

In [110]:
train['Alley'].value_counts(dropna=False)

NaN     1911
Grvl      85
Pave      55
Name: Alley, dtype: int64

Handling missing data

In [111]:
train['Alley'] = train['Alley'].fillna('NoAlley')

In [112]:
train['Alley'] = pd.Categorical(train['Alley'])

**Land Contour**

In [113]:
train['Land Contour'].dtype

dtype('O')

In [114]:
train['Land Contour'].value_counts()

Lvl    1843
HLS      85
Bnk      80
Low      43
Name: Land Contour, dtype: int64

In [115]:
train['Land Contour'] = pd.Categorical(train['Land Contour'])

**Lot Config**

In [116]:
train['Lot Config'].dtype

dtype('O')

In [117]:
train['Lot Config'].value_counts()

Inside     1503
Corner      348
CulDSac     131
FR2          60
FR3           9
Name: Lot Config, dtype: int64

In [118]:
train['Lot Config'] = pd.Categorical(train['Lot Config'])

**Neighborhood**

In [119]:
train['Neighborhood'].dtype

dtype('O')

In [120]:
train['Neighborhood'].value_counts()

NAmes      310
CollgCr    180
OldTown    163
Edwards    143
Somerst    130
NridgHt    122
Gilbert    116
Sawyer     111
SawyerW     87
NWAmes      87
Mitchel     82
BrkSide     76
Crawfor     71
IDOTRR      69
NoRidge     48
Timber      48
StoneBr     38
SWISU       32
ClearCr     27
MeadowV     24
Blmngtn     22
BrDale      19
NPkVill     17
Veenker     17
Blueste      6
Greens       3
GrnHill      2
Landmrk      1
Name: Neighborhood, dtype: int64

In [121]:
train['Neighborhood'] = pd.Categorical(train['Neighborhood'])

**Condition 1**

In [122]:
train['Condition 1'].dtype

dtype('O')

In [123]:
train['Condition 1'].value_counts()

Norm      1767
Feedr      109
Artery      70
RRAn        36
PosN        27
RRAe        21
PosA        12
RRNn         6
RRNe         3
Name: Condition 1, dtype: int64

In [124]:
train['Condition 1'] = pd.Categorical(train['Condition 1'])

**Condition 2**

In [125]:
train['Condition 2'].value_counts()

Norm      2025
Feedr       11
Artery       5
PosA         3
PosN         3
RRNn         2
RRAe         1
RRAn         1
Name: Condition 2, dtype: int64

In [126]:
train['Condition 2'] = pd.Categorical(train['Condition 2'])

**Bldg Type**

In [127]:
train['Bldg Type'].value_counts()

1Fam      1700
TwnhsE     161
Duplex      75
Twnhs       69
2fmCon      46
Name: Bldg Type, dtype: int64

In [128]:
train['Bldg Type'] = pd.Categorical(train['Bldg Type'])

**House Style**

In [129]:
train['House Style'].value_counts()

1Story    1059
2Story     598
1.5Fin     218
SLvl        94
SFoyer      50
2.5Unf      14
1.5Unf      12
2.5Fin       6
Name: House Style, dtype: int64

In [130]:
train['House Style'] = pd.Categorical(train['House Style'])

**Roof Style**

In [131]:
train['Roof Style'].dtype

dtype('O')

In [132]:
train['Roof Style'].value_counts().sort_index()

Flat         13
Gable      1619
Gambrel      12
Hip         397
Mansard       7
Shed          3
Name: Roof Style, dtype: int64

In [133]:
train['Roof Style'] = pd.Categorical(train['Roof Style'])

**Roof Matl**

In [134]:
train['Roof Matl'].dtype

dtype('O')

In [135]:
train['Roof Matl'].value_counts()

CompShg    2025
Tar&Grv      15
WdShngl       5
WdShake       4
ClyTile       1
Membran       1
Name: Roof Matl, dtype: int64

In [136]:
train['Roof Matl'] = pd.Categorical(train['Roof Matl'])

**Exterior 1st**

In [137]:
train['Exterior 1st'].dtype

dtype('O')

In [138]:
train['Exterior 1st'].value_counts()

VinylSd    724
MetalSd    331
HdBoard    300
Wd Sdng    276
Plywood    152
CemntBd     90
BrkFace     64
WdShing     45
AsbShng     33
Stucco      27
BrkComm      3
Stone        2
CBlock       2
ImStucc      1
AsphShn      1
Name: Exterior 1st, dtype: int64

In [139]:
train['Exterior 1st'] = pd.Categorical(train['Exterior 1st'])

**Exterior 2nd**

In [140]:
train['Exterior 2nd'].dtype

dtype('O')

In [141]:
train['Exterior 2nd'].value_counts()

VinylSd    721
MetalSd    324
HdBoard    275
Wd Sdng    262
Plywood    185
CmentBd     90
Wd Shng     63
BrkFace     34
Stucco      30
AsbShng     28
Brk Cmn     17
ImStucc     11
Stone        6
AsphShn      3
CBlock       2
Name: Exterior 2nd, dtype: int64

In [142]:
train['Exterior 2nd'] = pd.Categorical(train['Exterior 2nd'])

**Mas Vnr Type**

In [143]:
train['Mas Vnr Type'].dtype

dtype('O')

In [144]:
train['Mas Vnr Type'].value_counts(dropna=False).sort_index()

BrkCmn       13
BrkFace     630
None       1218
Stone       168
NaN          22
Name: Mas Vnr Type, dtype: int64

In [145]:
train['Mas Vnr Type'] = pd.Categorical(train['Mas Vnr Type'])

**Foundation**

In [146]:
train['Foundation'].dtype

dtype('O')

In [147]:
train['Foundation'].value_counts()

PConc     926
CBlock    863
BrkTil    221
Slab       34
Stone       5
Wood        2
Name: Foundation, dtype: int64

In [148]:
train['Foundation'] = pd.Categorical(train['Foundation'])

**Heating**

In [149]:
train['Heating'].dtype

dtype('O')

In [150]:
train['Heating'].value_counts().sort_index()

GasA    2018
GasW      20
Grav       5
OthW       2
Wall       6
Name: Heating, dtype: int64

In [151]:
train['Heating'] = pd.Categorical(train['Heating'])

In [152]:
train['Heating'] = train['Heating'].cat.add_categories(['Floor'])

In [153]:
train['Heating'].value_counts().sort_index()

GasA     2018
GasW       20
Grav        5
OthW        2
Wall        6
Floor       0
Name: Heating, dtype: int64

**Central Air**

In [154]:
train['Central Air'].value_counts()

Y    1910
N     141
Name: Central Air, dtype: int64

In [155]:
train['Central Air'] = train['Central Air'].map(lambda x: 1 if x == 'Y' else 0)

In [156]:
train['Central Air'].value_counts()

1    1910
0     141
Name: Central Air, dtype: int64

**Garage Type**

In [157]:
train['Garage Type'].dtype

dtype('O')

In [158]:
train['Garage Type'].value_counts(dropna=False).sort_index()

2Types       19
Attchd     1213
Basment      27
BuiltIn     132
CarPort      11
Detchd      536
NaN         113
Name: Garage Type, dtype: int64

In [159]:
train['Garage Type'] = train['Garage Type'].fillna('NoGarage')

In [160]:
train['Garage Type'].value_counts().sort_index()

2Types        19
Attchd      1213
Basment       27
BuiltIn      132
CarPort       11
Detchd       536
NoGarage     113
Name: Garage Type, dtype: int64

In [161]:
train['Garage Type'] = pd.Categorical(train['Garage Type'])

**Misc Feature**

In [162]:
train['Misc Feature'].dtype

dtype('O')

In [163]:
train['Misc Feature'].value_counts(dropna=False).sort_index()

Elev       1
Gar2       4
Othr       3
Shed      56
TenC       1
NaN     1986
Name: Misc Feature, dtype: int64

In [164]:
train['Misc Feature'] = train['Misc Feature'].fillna('None')

In [165]:
train['Misc Feature'] = pd.Categorical(train['Misc Feature'])

In [166]:
train['Misc Feature'].value_counts(dropna=False).sort_index()

Elev       1
Gar2       4
None    1986
Othr       3
Shed      56
TenC       1
Name: Misc Feature, dtype: int64

**Sale Type**

In [167]:
train['Sale Type'].dtype

dtype('O')

In [168]:
train['Sale Type'].value_counts(dropna=False).sort_index()

COD        63
CWD        10
Con         4
ConLD      17
ConLI       7
ConLw       5
New       160
Oth         4
WD       1781
Name: Sale Type, dtype: int64

In [169]:
train['Sale Type'] = pd.Categorical(train['Sale Type'])

### Ordinal Features

In [170]:
ordinal_features = ['Lot Shape', 'Utilities', 'Land Slope', 'Overall Qual', 'Overall Cond', 'Exter Qual',
                    'Exter Cond', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin Type 2',
                    'Heating QC', 'Electrical', 'Kitchen Qual', 'Functional', 'Fireplace Qu', 'Garage Finish',
                    'Garage Qual', 'Garage Cond', 'Paved Drive', 'Pool QC', 'Fence'
                   ]

**Lot Shape**

In [171]:
train['Lot Shape'].dtype

dtype('O')

In [172]:
train['Lot Shape'].value_counts()

Reg    1295
IR1     692
IR2      55
IR3       9
Name: Lot Shape, dtype: int64

In [173]:
train['Lot Shape'].value_counts().index.tolist()

['Reg', 'IR1', 'IR2', 'IR3']

In [174]:
categories = pd.Categorical(train['Lot Shape'], 
                            categories=['IR3', 'IR2', 'IR1', 'Reg'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['Lot Shape'] = labels

In [175]:
train['Lot Shape'].value_counts()

3    1295
2     692
1      55
0       9
Name: Lot Shape, dtype: int64

**Utilities**

In [176]:
train['Utilities'].dtype

dtype('O')

In [177]:
train['Utilities'].value_counts()

AllPub    2049
NoSewr       1
NoSeWa       1
Name: Utilities, dtype: int64

In [178]:
categories = pd.Categorical(train['Utilities'], 
                            categories=['ELO', 'NoSeWa', 'NoSewr', 'AllPub'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['Utilities'] = labels

In [179]:
train['Utilities'].value_counts()

2    2049
1       1
0       1
Name: Utilities, dtype: int64

**Land Slope**

In [180]:
train['Land Slope'].dtype

dtype('O')

In [181]:
train['Land Slope'].value_counts()

Gtl    1953
Mod      88
Sev      10
Name: Land Slope, dtype: int64

In [182]:
categories = pd.Categorical(train['Land Slope'], 
                            categories=['Gtl', 'Mod', 'Sev'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['Land Slope'] = labels

**Overall Qual**

In [183]:
train['Overall Qual'].dtype

dtype('int64')

In [184]:
train['Overall Qual'].value_counts().sort_index()

1       4
2       9
3      29
4     159
5     563
6     506
7     431
8     250
9      77
10     23
Name: Overall Qual, dtype: int64

In [185]:
# categories = pd.Categorical(train['Overall Qual'], 
#                             categories=[i for i in range(1, 11)], 
#                             ordered=True)

# labels, unique = pd.factorize(categories, sort=True)

# train['Overall Qual'] = labels

**Overall Cond**

In [186]:
train['Overall Cond'].dtype

dtype('int64')

In [187]:
train['Overall Cond'].value_counts().sort_index()

1       4
2       6
3      35
4      70
5    1168
6     368
7     270
8     101
9      29
Name: Overall Cond, dtype: int64

**Exter Qual**

In [188]:
train['Exter Qual'].dtype

dtype('O')

In [189]:
train['Exter Qual'].value_counts()

TA    1247
Gd     697
Ex      81
Fa      26
Name: Exter Qual, dtype: int64

In [190]:
categories = pd.Categorical(train['Exter Qual'], 
                            categories=['Po', 'Fa', 'TA', 'Gd', 'Ex'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['Exter Qual'] = labels

**Exter Cond**

In [191]:
train['Exter Cond'].dtype

dtype('O')

In [192]:
train['Exter Cond'].value_counts()

TA    1778
Gd     215
Fa      49
Ex       7
Po       2
Name: Exter Cond, dtype: int64

In [193]:
categories = pd.Categorical(train['Exter Cond'], 
                            categories=['Po', 'Fa', 'TA', 'Gd', 'Ex'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['Exter Cond'] = labels

**Bsmt Qual**

In [194]:
train['Bsmt Qual'].dtype

dtype('O')

In [195]:
train['Bsmt Qual'].value_counts(dropna=False).reindex([np.nan, 'Po', 'Fa', 'TA', 'Gd', 'Ex'])

NaN     55
Po       1
Fa      60
TA     887
Gd     864
Ex     184
Name: Bsmt Qual, dtype: int64

In [196]:
# Fill NA value with NB (stands for No Basement)
train['Bsmt Qual'] = train['Bsmt Qual'].fillna('NB')

In [197]:
categories = pd.Categorical(train['Bsmt Qual'], 
                            categories=['NB', 'Po', 'Fa', 'TA', 'Gd', 'Ex'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['Bsmt Qual'] = labels

In [198]:
train['Bsmt Qual'].value_counts().sort_index()

0     55
1      1
2     60
3    887
4    864
5    184
Name: Bsmt Qual, dtype: int64

**Bsmt Cond**

In [199]:
train['Bsmt Cond'].dtype

dtype('O')

In [200]:
train['Bsmt Cond'].value_counts(dropna=False).reindex([np.nan, 'Po', 'Fa', 'TA', 'Gd', 'Ex'])

NaN      55
Po        5
Fa       65
TA     1834
Gd       89
Ex        3
Name: Bsmt Cond, dtype: int64

In [201]:
# Fill NA value with NB (stands for No Basement)
train['Bsmt Cond'] = train['Bsmt Cond'].fillna('NB')

In [202]:
categories = pd.Categorical(train['Bsmt Cond'], 
                            categories=['NB', 'Po', 'Fa', 'TA', 'Gd', 'Ex'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['Bsmt Cond'] = labels

In [203]:
train['Bsmt Cond'].value_counts().sort_index()

0      55
1       5
2      65
3    1834
4      89
5       3
Name: Bsmt Cond, dtype: int64

**Bsmt Exposure**

In [204]:
train['Bsmt Exposure'].dtype

dtype('O')

In [205]:
train['Bsmt Exposure'].value_counts(dropna=False).reindex([np.nan, 'No', 'Mn', 'Av', 'Gd'])

NaN      58
No     1339
Mn      163
Av      288
Gd      203
Name: Bsmt Exposure, dtype: int64

In [206]:
train['Bsmt Exposure'] = train['Bsmt Exposure'].fillna('NB')

In [207]:
categories = pd.Categorical(train['Bsmt Exposure'], 
                            categories=['NB', 'No', 'Mn', 'Av', 'Gd'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['Bsmt Exposure'] = labels

In [208]:
train['Bsmt Exposure'].value_counts().sort_index()

0      58
1    1339
2     163
3     288
4     203
Name: Bsmt Exposure, dtype: int64

**BsmtFin Type 1**

In [209]:
train['BsmtFin Type 1'].dtype

dtype('O')

In [210]:
train['BsmtFin Type 1'].value_counts(dropna=False).reindex([np.nan, 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ'])

NaN     55
Unf    603
LwQ    102
Rec    183
BLQ    200
ALQ    293
GLQ    615
Name: BsmtFin Type 1, dtype: int64

In [211]:
train['BsmtFin Type 1'] = train['BsmtFin Type 1'].fillna('NB')

In [212]:
categories = pd.Categorical(train['BsmtFin Type 1'], 
                            categories=['NB', 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['BsmtFin Type 1'] = labels

In [213]:
train['BsmtFin Type 1'].value_counts().sort_index()

0     55
1    603
2    102
3    183
4    200
5    293
6    615
Name: BsmtFin Type 1, dtype: int64

**BsmtFin Type 2**

In [214]:
train['BsmtFin Type 2'].dtype

dtype('O')

In [215]:
train['BsmtFin Type 2'].value_counts(dropna=False).reindex([np.nan, 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ'])

NaN      56
Unf    1749
LwQ      60
Rec      80
BLQ      48
ALQ      35
GLQ      23
Name: BsmtFin Type 2, dtype: int64

In [216]:
train['BsmtFin Type 2'] = train['BsmtFin Type 2'].fillna('NB')

In [217]:
categories = pd.Categorical(train['BsmtFin Type 2'], 
                            categories=['NB', 'Unf', 'LwQ', 'Rec', 'BLQ', 'ALQ', 'GLQ'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['BsmtFin Type 2'] = labels

In [218]:
train['BsmtFin Type 2'].value_counts(dropna=False).sort_index()

0      56
1    1749
2      60
3      80
4      48
5      35
6      23
Name: BsmtFin Type 2, dtype: int64

**Heating QC**

In [219]:
train['Heating QC'].dtype

dtype('O')

In [220]:
train['Heating QC'].value_counts().reindex(['Po', 'Fa', 'TA', 'Gd', 'Ex'])

Po       3
Fa      67
TA     597
Gd     319
Ex    1065
Name: Heating QC, dtype: int64

In [221]:
categories = pd.Categorical(train['Heating QC'], 
                            categories=['Po', 'Fa', 'TA', 'Gd', 'Ex'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['Heating QC'] = labels

**Electrical**

In [222]:
train['Electrical'].dtype

dtype('O')

In [223]:
train['Electrical'].value_counts().reindex(['Mix', 'FuseP', 'FuseF', 'FuseA', 'SBrkr'])

Mix         1
FuseP       7
FuseF      35
FuseA     140
SBrkr    1868
Name: Electrical, dtype: int64

In [224]:
categories = pd.Categorical(train['Electrical'], 
                            categories=['Mix', 'FuseP', 'FuseF', 'FuseA', 'SBrkr'], 
                            ordered=True)

labels, unique = pd.factorize(categories, sort=True)

train['Electrical'] = labels

**Kitchen Qual**

In [225]:
train['Kitchen Qual'].dtype

dtype('O')

In [226]:
train['Kitchen Qual'].value_counts(dropna=False).reindex(['Po', 'Fa', 'TA', 'Gd', 'Ex'])

Po       NaN
Fa      47.0
TA    1047.0
Gd     806.0
Ex     151.0
Name: Kitchen Qual, dtype: float64

In [227]:
# categories = pd.Categorical(train['Kitchen Qual'], 
#                             categories=['Po', 'Fa', 'TA', 'Gd', 'Ex'], 
#                             ordered=True)

# labels, unique = pd.factorize(categories, sort=True)

# train['Kitchen Qual'] = labels

category_int_map = {'Po': 0, 'Fa': 1, 'TA': 2, 'Gd': 3, 'Ex': 4}
train['Kitchen Qual'] = train['Kitchen Qual'].replace(category_int_map)

In [228]:
train['Kitchen Qual'].value_counts(dropna=False).sort_index()

1      47
2    1047
3     806
4     151
Name: Kitchen Qual, dtype: int64

**Functional**

In [229]:
train['Functional'].dtype

dtype('O')

In [230]:
train['Functional'].value_counts(dropna=False).reindex(['Sal', 'Sev', 'Maj2', 'Maj1', 'Mod', 'Min2', 'Min1', 'Typ'])

Sal        2
Sev        2
Maj2       7
Maj1      12
Mod       29
Min2      42
Min1      42
Typ     1915
Name: Functional, dtype: int64

In [231]:
category_int_map = {'Sal': 0, 'Sev': 1, 'Maj2': 2, 'Maj1': 3, 'Mod': 4, 'Min2': 5, 'Min1': 6, 'Typ': 7}

train['Functional'] = train['Functional'].map(category_int_map)

In [232]:
train['Functional'].value_counts(dropna=False).sort_index()

0       2
1       2
2       7
3      12
4      29
5      42
6      42
7    1915
Name: Functional, dtype: int64

**Fireplace Qu**

In [233]:
train['Fireplace Qu'].dtype

dtype('O')

In [234]:
train['Fireplace Qu'].value_counts(dropna=False).reindex([np.nan, 'Po', 'Fa', 'TA', 'Gd', 'Ex'])

NaN    1000
Po       31
Fa       59
TA      407
Gd      523
Ex       31
Name: Fireplace Qu, dtype: int64

In [235]:
category_int_map = {np.nan: 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

train['Fireplace Qu'] = train['Fireplace Qu'].map(category_int_map)

In [236]:
train['Fireplace Qu'].value_counts(dropna=False).sort_index()

0    1000
1      31
2      59
3     407
4     523
5      31
Name: Fireplace Qu, dtype: int64

**Garage Finish**

In [237]:
train['Garage Finish'].dtype

dtype('O')

In [238]:
train['Garage Finish'].value_counts(dropna=False).reindex([np.nan, 'Unf', 'RFn', 'Fin'])

NaN    114
Unf    849
RFn    579
Fin    509
Name: Garage Finish, dtype: int64

In [239]:
category_int_map = {np.nan: 0, 'Unf': 1, 'RFn': 2, 'Fin': 3}

train['Garage Finish'] = train['Garage Finish'].map(category_int_map)

In [240]:
train['Garage Finish'].value_counts().sort_index()

0    114
1    849
2    579
3    509
Name: Garage Finish, dtype: int64

**Garage Qual**

In [241]:
train['Garage Qual'].dtype

dtype('O')

In [242]:
train['Garage Qual'].value_counts(dropna=False).reindex([np.nan, 'Po', 'Fa', 'TA', 'Gd', 'Ex'])

NaN     114
Po        2
Fa       82
TA     1832
Gd       18
Ex        3
Name: Garage Qual, dtype: int64

In [243]:
category_int_map = {np.nan: 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

train['Garage Qual'] = train['Garage Qual'].map(category_int_map)

In [244]:
train['Garage Qual'].value_counts(dropna=False).sort_index()

0     114
1       2
2      82
3    1832
4      18
5       3
Name: Garage Qual, dtype: int64

**Garage Cond**

In [245]:
train['Garage Cond'].dtype

dtype('O')

In [246]:
train['Garage Cond'].value_counts(dropna=False).reindex([np.nan, 'Po', 'Fa', 'TA', 'Gd', 'Ex'])

NaN     114
Po        8
Fa       47
TA     1868
Gd       12
Ex        2
Name: Garage Cond, dtype: int64

In [247]:
category_int_map = {np.nan: 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

train['Garage Cond'] = train['Garage Cond'].map(category_int_map)

In [248]:
train['Garage Cond'].value_counts(dropna=False).sort_index()

0     114
1       8
2      47
3    1868
4      12
5       2
Name: Garage Cond, dtype: int64

**Paved Drive**

In [249]:
train['Paved Drive'].dtype

dtype('O')

In [250]:
train['Paved Drive'].value_counts(dropna=False).reindex(['N', 'P', 'Y'])

N     151
P      39
Y    1861
Name: Paved Drive, dtype: int64

In [251]:
category_int_map = {'N': 0, 'P': 1, 'Y': 2}

train['Paved Drive'] = train['Paved Drive'].map(category_int_map)

In [252]:
train['Paved Drive'].value_counts(dropna=False).sort_index()

0     151
1      39
2    1861
Name: Paved Drive, dtype: int64

**Pool QC**

In [253]:
train['Pool QC'].dtype

dtype('O')

In [254]:
train['Pool QC'].value_counts(dropna=False).reindex([np.nan, 'Fa', 'TA', 'Gd', 'Ex'])

NaN    2042
Fa        2
TA        2
Gd        4
Ex        1
Name: Pool QC, dtype: int64

In [255]:
category_int_map = {np.nan: 0, 'Fa': 1, 'TA': 2, 'Gd': 3, 'Ex': 4}

train['Pool QC'] = train['Pool QC'].map(category_int_map)

In [256]:
train['Pool QC'].value_counts(dropna=False).sort_index()

0    2042
1       2
2       2
3       4
4       1
Name: Pool QC, dtype: int64

**Fence**

In [257]:
train['Fence'].dtype

dtype('O')

In [258]:
train['Fence'].value_counts(dropna=False).reindex([np.nan, 'MnWw', 'GdWo', 'MnPrv', 'GdPrv'])

NaN      1651
MnWw       10
GdWo       80
MnPrv     227
GdPrv      83
Name: Fence, dtype: int64

In [259]:
category_int_map = {np.nan: 0, 'MnWw': 1, 'GdWo': 2, 'MnPrv': 3, 'GdPrv': 4}

train['Fence'] = train['Fence'].map(category_int_map)

In [260]:
train['Fence'].value_counts(dropna=False).sort_index()

0    1651
1      10
2      80
3     227
4      83
Name: Fence, dtype: int64

### Target variable

**SalePrice**

In [261]:
train['SalePrice'].dtype

dtype('int64')

In [262]:
train['SalePrice'] = train['SalePrice'].astype('float')

In [263]:
train.isnull().sum()[train.isnull().sum() > 0]

Lot Frontage      330
Mas Vnr Type       22
Mas Vnr Area       22
BsmtFin SF 1        1
BsmtFin SF 2        1
Bsmt Unf SF         1
Total Bsmt SF       1
Bsmt Full Bath      2
Bsmt Half Bath      2
Garage Yr Blt     114
Garage Cars         1
Garage Area         1
dtype: int64

## Handling Missing Data

In [264]:
train.isnull().sum()[train.isnull().sum() > 0]

Lot Frontage      330
Mas Vnr Type       22
Mas Vnr Area       22
BsmtFin SF 1        1
BsmtFin SF 2        1
Bsmt Unf SF         1
Total Bsmt SF       1
Bsmt Full Bath      2
Bsmt Half Bath      2
Garage Yr Blt     114
Garage Cars         1
Garage Area         1
dtype: int64

**Lot Frontage**

In [265]:
train['Lot Frontage'][train['Lot Frontage'].isnull()]

Id
109    NaN
145    NaN
1942   NaN
12     NaN
1534   NaN
        ..
560    NaN
2872   NaN
2526   NaN
25     NaN
785    NaN
Name: Lot Frontage, Length: 330, dtype: float64

In [266]:
train['Lot Frontage'].min(), train['Lot Frontage'].max()

(21.0, 313.0)

In [267]:
train['Lot Frontage'].fillna(0, inplace=True)

**Mas Vnr Type**

Handling missing data

In [268]:
# Same indices with missing 'Mas Vnr Area' features
train['Mas Vnr Type'][train['Mas Vnr Type'].isnull()].index

Int64Index([2393, 2383,  539,  518, 2824, 1800, 1455, 1120, 1841, 1840, 2230,
            1123, 1784,  485, 1752, 1185, 1128, 1096, 2261, 2456, 1728,   56],
           dtype='int64', name='Id')

**Mas Vnr Area**

Handling missing data

In [269]:
# Same indices with missing 'Mas Vnr Type' features
train['Mas Vnr Area'][train['Mas Vnr Area'].isnull()].index

Int64Index([2393, 2383,  539,  518, 2824, 1800, 1455, 1120, 1841, 1840, 2230,
            1123, 1784,  485, 1752, 1185, 1128, 1096, 2261, 2456, 1728,   56],
           dtype='int64', name='Id')

In [270]:
train['Mas Vnr Area'].min(), train['Mas Vnr Area'].max()

(0.0, 1600.0)

Observation: The same rows have missing values for Mas Vnr Type, Mas Vnr Area

In [271]:
train.dropna(subset=['Mas Vnr Area'], inplace=True)

**BsmtFin SF 1**

In [272]:
train['BsmtFin SF 1'][train['BsmtFin SF 1'].isnull()]

Id
1342   NaN
Name: BsmtFin SF 1, dtype: float64

**BsmtFin SF 2**

In [273]:
train['BsmtFin SF 2'][train['BsmtFin SF 2'].isnull()]

Id
1342   NaN
Name: BsmtFin SF 2, dtype: float64

**Bsmt Unf SF**

In [274]:
train['Bsmt Unf SF'][train['Bsmt Unf SF'].isnull()]

Id
1342   NaN
Name: Bsmt Unf SF, dtype: float64

**Total Bsmt SF**

In [275]:
train['Total Bsmt SF'][train['Total Bsmt SF'].isnull()]

Id
1342   NaN
Name: Total Bsmt SF, dtype: float64

Observation: row 1327 has missing values for the features BsmtFin SF 1, BsmtFin SF 2, BsmtFin Unf SF, Total Bsmt SF

In [276]:
train.dropna(subset=['Total Bsmt SF'], inplace=True)

**Bsmt Full Bath**

In [277]:
train['Bsmt Full Bath'][train['Bsmt Full Bath'].isnull()]

Id
1498    NaN
Name: Bsmt Full Bath, dtype: Int64

**Bsmt Half Bath**

In [278]:
train['Bsmt Half Bath'][train['Bsmt Half Bath'].isnull()]

Id
1498    NaN
Name: Bsmt Half Bath, dtype: Int64

Observation: row 616, 1327 have missing values for the features Bsmt Full Bath, Bsmt Half Bath

In [279]:
train.dropna(subset=['Bsmt Half Bath'], inplace=True)

**Garage Yr Blt**

In [280]:
train[train['Garage Yr Blt'].isnull()]

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
2243,911103060,190,C (all),75.0,8250.0,Pave,NoAlley,3,Lvl,2,...,0.0,0.0,0,0,None,0.0,06,2007,WD,119600.0
330,923226250,160,RM,21.0,1476.0,Pave,NoAlley,3,Lvl,2,...,0.0,0.0,0,0,None,0.0,03,2010,WD,76000.0
2278,923202134,020,RL,70.0,8402.0,Pave,NoAlley,3,Lvl,2,...,0.0,0.0,0,0,None,0.0,12,2007,New,147000.0
2235,910201050,050,RM,50.0,7288.0,Pave,NoAlley,3,Lvl,2,...,0.0,0.0,0,0,None,0.0,09,2007,WD,129850.0
2084,905476170,030,RL,58.0,9098.0,Pave,NoAlley,2,Lvl,2,...,0.0,0.0,0,0,None,0.0,07,2007,WD,86000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,923204150,090,RL,94.0,9400.0,Pave,NoAlley,3,Low,2,...,0.0,0.0,0,0,None,0.0,04,2010,WD,139000.0
2880,911175410,030,C (all),69.0,12366.0,Pave,NoAlley,3,Lvl,2,...,0.0,0.0,0,0,None,0.0,10,2006,WD,51689.0
2628,535456010,090,RL,75.0,8512.0,Pave,NoAlley,3,Lvl,2,...,0.0,0.0,0,0,None,0.0,09,2006,WD,119000.0
2288,923228220,160,RM,21.0,1495.0,Pave,NoAlley,3,Lvl,2,...,0.0,0.0,0,0,None,0.0,05,2007,WD,93900.0
2842,909101080,050,RL,45.0,8248.0,Pave,Grvl,3,Lvl,2,...,0.0,0.0,0,0,None,0.0,09,2006,COD,83000.0

In [281]:
train.dropna(subset=['Garage Yr Blt'], inplace=True)

**Garage Cars**

In [282]:
train[train['Garage Cars'].isnull()]

Empty DataFrame
Columns: [PID, MS SubClass, MS Zoning, Lot Frontage, Lot Area, Street, Alley, Lot Shape, Land Contour, Utilities, Lot Config, Land Slope, Neighborhood, Condition 1, Condition 2, Bldg Type, House Style, Overall Qual, Overall Cond, Year Built, Year Remod/Add, Roof Style, Roof Matl, Exterior 1st, Exterior 2nd, Mas Vnr Type, Mas Vnr Area, Exter Qual, Exter Cond, Foundation, Bsmt Qual, Bsmt Cond, Bsmt Exposure, BsmtFin Type 1, BsmtFin SF 1, BsmtFin Type 2, BsmtFin SF 2, Bsmt Unf SF, Total Bsmt SF, Heating, Heating QC, Central Air, Electrical, 1st Flr SF, 2nd Flr SF, Low Qual Fin SF, Gr Liv Area, Bsmt Full Bath, Bsmt Half Bath, Full Bath, Half Bath, Bedroom AbvGr, Kitchen AbvGr, Kitchen Qual, TotRms AbvGrd, Functional, Fireplaces, Fireplace Qu, Garage Type, Garage Yr Blt, Garage Finish, Garage Cars, Garage Area, Garage Qual, Garage Cond, Paved Drive, Wood Deck SF, Open Porch SF, Enclosed Porch, 3Ssn Porch, Screen Porch, Pool Area, Pool QC, Fence, Misc Feature, Misc Val, Mo Sold, Yr Sold, Sale Type, SalePrice]
Index: []

[0 rows x 80 columns]

**Garage Area**

In [283]:
train['Garage Area'][train['Garage Area'].isnull()]

Series([], Name: Garage Area, dtype: float64)

Observation: row 1712 has missing value for Garage Cars, Garage Area

In [284]:
train.dropna(subset=['Garage Area'], inplace=True)

**Get Dummies of Categorical (Nominal) Features**

In [285]:
nominal_features

['PID',
 'MS SubClass',
 'MS Zoning',
 'Street',
 'Alley',
 'Land Contour',
 'Lot Config',
 'Neighborhood',
 'Condition 1',
 'Condition 2',
 'Bldg Type',
 'House Style',
 'Roof Style',
 'Roof Matl',
 'Exterior 1st',
 'Exterior 2nd',
 'Mas Vnr Type',
 'Foundation',
 'Heating',
 'Central Air',
 'Garage Type',
 'Misc Feature',
 'Sale Type']

In [286]:
# Take all nominal features except PID
reduced_nominal_features = nominal_features[1:]

In [287]:
train = pd.get_dummies(train, columns=reduced_nominal_features, drop_first=True)

In [288]:
train.head()

,PID,Lot Frontage,Lot Area,Lot Shape,Utilities,Land Slope,Overall Qual,Overall Cond,Year Built,Year Remod/Add,...,Misc Feature_Shed,Misc Feature_TenC,Sale Type_CWD,Sale Type_Con,Sale Type_ConLD,Sale Type_ConLI,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_WD
Id,,,,,,,,,,,,,,,,,,,,,
109,533352170,0.0,13517.0,2,2,0,6,8,1976,2005,...,0,0,0,0,0,0,0,0,0,1
544,531379050,43.0,11492.0,2,2,0,7,5,1996,1997,...,0,0,0,0,0,0,0,0,0,1
153,535304180,68.0,7922.0,3,2,0,5,7,1953,2007,...,0,0,0,0,0,0,0,0,0,1
318,916386060,73.0,9802.0,3,2,0,5,5,2006,2007,...,0,0,0,0,0,0,0,0,0,1
255,906425045,82.0,14235.0,2,2,0,6,8,1900,1993,...,0,0,0,0,0,0,0,0,0,1

In [289]:
# Save
train.to_csv('../data/train_cleaned.csv')

### Regression Assumptions (Lab 3.01)

In [290]:
# Normality:  Do the Residual Errors follow a normal distribution?

# I believe all those properties with 0 values are causing the Y intercept to be higher up
# resulting in a less steep slope, thus creating areas where residual error is higher.

shd['Residuals'] = shd['price'] - shd['y_pred']
sns.distplot(shd['Residuals'])

NameError: name 'shd' is not defined

In [ ]:
# The errors are more or less skewed to the right, but do show approximate normality otherwise.

In [ ]:
# Equality of variance.  

# I believe all the observations with 0 sq ft are obscuring the predictive 
# trend so as prices increase error is also going to as well.

sns.lmplot(x='sq__ft', y='Residuals', data=shd)

### Regression Metrics

In [ ]:
def r2_adj(y_true, y_preds, p):
    n = len(y_true)
    y_mean = np.mean(y_true)
    numerator = np.sum(np.square(y_true - y_preds)) / (n - p - 1)
    denominator = np.sum(np.square(y_true - y_mean)) / (n - 1)
    return 1 - numerator / denominator

In [ ]:
def lord_of_the_metrics(y_true, y_pred, p):
    mse = metrics.mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    msle = metrics.mean_squared_log_error(y_true, y_pred)
    mae = metrics.median_absolute_error(y_true, y_pred)
    r2 = metrics.r2_score(y_true, y_pred)
    r2a = r2_adj(y_true, y_pred, p)
    
    print('Mean squared error      = ', mse)
    print('Root mean squared error = ', rmse)
    print('Mean squared log error  = ', msle)
    print('Median absolute error   = ', mae)
    print('R^2                     = ', r2)
    print('Adjusted R^2            = ', r2a)

In [ ]:
cv_scores = cross_val_score(model, X, y)
print(cv_scores)
print(np.mean(cv_scores))